@model StandardPage

@{
    ViewBag.Title = Model.Title;

    if (typeof(VuePage).IsAssignableFrom(Model.GetType()))
    {
        @Html.DisplayFor(m => m)
    }
    else
    {
        <div class="main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12 page-body">
                        <h1>@Model.Title</h1>
                        @Html.DisplayFor(m => m.Blocks)
                    </div>
                </div>
            </div>
        </div>
    }
}


