@model CatfishWebExtensions.Models.Sites.Headers.UpperLevel
@using CatfishExtensions.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Piranha.AspNetCore.Services.IApplicationService WebApp;
@inject ICatfishAppConfiguration _catfishAppConfig;
@inject Piranha.IApi _piranhaApi;
@inject Piranha.Manager.ManagerLocalizer Localizer
@{
    var currentSite = await WebApp.Site.GetContentAsync<CatfishWebExtensions.Models.Sites.CatfishWebsite>();
    var imgUrl = Model.Logo.Media.PublicUrl;
    var siteTitle = Model.SiteTitle;
    var upperLevel = Model.UpperHeader;
    if (imgUrl.StartsWith("~"))
    {
        imgUrl = imgUrl.Substring(1);
    }
}
<div id="header" class="container-fluid">
    <div class="border-bottom border-dark" id="logo">
        @Html.Raw(upperLevel)

    </div>
    <div class="row">
        <div class="header-logo">
            <a class="site-title" href="http://meis.ualberta.ca" title="MEIS">
                <img src=@imgUrl>
                <span >@siteTitle</span>
            </a>
        </div>
    </div>

</div>
<style>
.header-logo {
    text-decoration: none;
    color: #333;
    font-size: 3.0em;
    font-family: 'Aldrich', sans-serif;
}
.site-title{
    text-decoration: none;
    color: #333;
}

.site-title:hover {
    color:#333;
    text-decoration:none; 
    cursor:pointer;  
}
.navbar-quicklink {
    margin-left: 10px;
}
.navbar-quicklink > ul {
    list-style-type: none;
    display: inline;
    font-size: 120%;
    font-weight: bold;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-quicklink ul li a {
    text-decoration: none;
    font-size: 0.8em;
    color: #107d43;
}
.UA-logo {
    float: right;
}
</style>
