@model CatfishWebExtensions.Models.Sites.Headers.UpperLevel
@using CatfishExtensions.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Piranha.AspNetCore.Services.IApplicationService WebApp;
@inject ICatfishAppConfiguration _catfishAppConfig;
@inject Piranha.IApi _piranhaApi;
@inject Piranha.Manager.ManagerLocalizer Localizer
@{
    var currentSite = await WebApp.Site.GetContentAsync<CatfishWebExtensions.Models.Sites.CatfishWebsite>();
    var imgUrl = Model.Logo.Media.PublicUrl;
    var siteTitle = Model.SiteTitle;
    var upperLevel = Model.UpperHeader;
    if (imgUrl.StartsWith("~"))
    {
        imgUrl = imgUrl.Substring(1);
    }
}
<div id="header" class="container-fluid">
    <div class="row hidden-xs" id="logo">
        @Html.Raw(upperLevel)

    </div>
    <div class="row">
        <div class="header-logo">
            <a href="http://meis.ualberta.ca" title="MEIS">
                <img src=@imgUrl>
                @siteTitle
            </a>
        </div>
    </div>

</div>
<style>
    .header-logo {
    text-decoration: none;
    color: #333;
    font-size: 3.0em;
    font-family: 'Aldrich', sans-serif;
}
</style>
    