@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer

@* 
    A 'New Collection' button with a dropdown option for the ItemList page.    
*@

@*@if ((await Auth.AuthorizeAsync(User, Piranha.Manager.Permission.SitesAdd)).Succeeded)
    {*@ 
    <!-- v-on:click.prevent="piranha.siteedit.create(load)" -->
        <div class="dropdown add-collection">
            <button data-toggle="dropdown" class="btn btn-primary btn-labeled dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus"></i>
                @Localizer.Site["New Collection"]
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pageGroup">
                <a class="dropdown-item" :href="piranha.baseUrl + type.addURL + '/' + type.id" v-for="type in collectionTypes">{{ type.typeName }}</a> <!-- + collection.id + -->
            </div>
    </div>
    @*}*@

