@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer

@* 
    A button to save the field form.    
*@

@*@if ((await Auth.AuthorizeAsync(User, Piranha.Manager.Permission.SitesAdd)).Succeeded)
    {*@ 
    <!-- v-on:click.prevent="piranha.siteedit.create(load)" -->
    <h6 class="success-message" v-if="saveStatus==1">{{saveSuccessfulLabel}}</h6>
    <h6 class="failed-message" v-if="saveStatus==-1">{{saveFailedLabel}}</h6>
    
    <div class="btn-group dropdown save-preview-edit-button">
        <button form="field-container-edit-form" 
                class="btn btn-primary"
                    type="submit" v-on:click="checkValidity($event)">
            <span class="caret"></span>
            {{saveFieldFormButtonLabel}}
        </button>
        </div>
    @*}*@