@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer

@* 
    A dropdown button with the choice to save, preview, or edit.    
*@

@*@if ((await Auth.AuthorizeAsync(User, Piranha.Manager.Permission.SitesAdd)).Succeeded)
    {*@ 
    <!-- v-on:click.prevent="piranha.siteedit.create(load)" -->
        <div v-if="mcDropdownButtonLabel" class="btn-group dropdown save-preview-edit-button">
            <button form="item-edit-form" v-on:click="performMCButtonAction($event)" class="btn btn-primary"> <!--:type="{submit: mcDropdownButtonLabel==buttonOptions[0]}" -->
                @* @Localizer.Site["Save"] *@
                {{mcDropdownButtonLabel}}
            </button>
             <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
             </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="pageGroup">
                <a v-for="option in buttonOptions"
                   class="dropdown-item" :class="{active: option==mcDropdownButtonLabel}" 
                   v-on:click="changeButtonLabel(option)" href="#"> <!--:href="piranha.baseUrl + option + '/' "-->
                    {{ option }}
                </a>
            </div>
    </div>
    @*}*@