@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer

@* 
    A dropdown button with the choice to save, preview, or edit.    
*@

@*@if ((await Auth.AuthorizeAsync(User, Piranha.Manager.Permission.SitesAdd)).Succeeded)
    {*@ 
    <!-- v-on:click.prevent="piranha.siteedit.create(load)" -->
    <h6 class="success-message" v-if="saveStatus==1">{{saveSuccessfulLabel}}</h6>
    <h6 class="failed-message" v-if="saveStatus==-1 && validForm">{{saveFailedLabel}}</h6>
    <h6 class="failed-message" v-if="saveStatus==-1 && !validForm">{{saveFieldsRequiredLabel}}</h6>
    
    <div v-if="mcDropdownButtonLabel" class="btn-group dropdown save-preview-edit-button">
        <button form="item-edit-form" 
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                    :type="savePreviewEditButtonType"> <!-- v-on:click="performMCButtonAction($event)" -->
                    <span class="caret"></span>
                {{mcDropdownButtonLabel}}
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="pageGroup">
                <a v-for="option in buttonOptions"
                   class="dropdown-item" :class="{active: option==activeOption}" 
                   v-on:click="performMCButtonAction($event, option)" href="#"> <!--v-on:click="changeButtonLabel(option)" :href="piranha.baseUrl + option + '/' "-->
                    {{ option }}
                </a>
            </div>
        </div>
    @*}*@