@model CatfishWebExtensions.Models.Blocks.Slide

@{
    var url = Model.Image.Media.PublicUrl;
    if (url.StartsWith("~"))
    {
        url = url.Substring(1);
    }
    int? index = ViewData["index"] as int?;
    string isActive = index == 0 ? "active" : "";
}
<div class="carousel-item @isActive">
    <img class="d-block w-100" src="@url" alt="@Model.Title.Value">
</div>
