@model CatfishWebExtensions.Models.Blocks.Slide

@{
    var url = Model.Image.Media.PublicUrl;
    var content = Model.Content.Value;
    var title = Model?.Title.Value;
    if (url.StartsWith("~"))
    {
        url = url.Substring(1);
    }
    int? index = ViewData["index"] as int?;
    string isActive = index == 0 ? "active" : "";
}
<div class="carousel-item @isActive">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-5">
            <div class="std-img" style="background-image: url(@url)"></div>
        </div>
        <div class="col-xs-12 col-md-7 article-desc">
            <div>
                @title
            </div>
            <div>
                @Html.Raw(content)
            </div>
        </div>
    </div>
</div>
