@page "~/manager/collections/{id:Guid}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "View Collection";
    ViewBag.MenuItem = "CatfishWebExtensionsCollections";
    var id = ViewContext.RouteData.Values["id"]?.ToString();
}

<div id="CatfishWebExtensions">
    <div class="top">
        <partial name="_Breadcrumb" model='new string[] { "Data", "Collections", "View" }' />

        <div class="container-fluid">
            <div class="top-nav">
                <button class="btn btn-icon btn-info">
                    <i class="fas fa-cog"></i>
                </button>
                <button class="btn btn-labeled btn-primary">
                    <i class="fas fa-edit"></i>Edit
                </button>
            </div>
        </div>
    </div>
</div>


<script src="/assets/public/vendors/vue3/vue.global.min.js"></script>

<div id="app">{{ message }}</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: 'Hello Vue!'
            }
        }
    }).mount('#app')
</script>
