@page "~/manager/collections"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Collections";
    ViewBag.MenuItem = "CatfishWebExtensionsCollections";
}

<div id="CatfishWebExtensions">
    <div class="top">
        <partial name="_Breadcrumb" model='new string[] { "Data", "Collections" }' />

        <div class="container-fluid">
            <div class="top-nav">
                <button class="btn btn-icon btn-info">
                    <i class="fas fa-cog"></i>
                </button>
                <button class="btn btn-labeled btn-primary">
                    <i class="fas fa-plus"></i>Collection
                </button>
            </div>
        </div>
    </div>
</div>

<partial name="_ManagerAppletLoader" />
