@model Catfish.Core.Models.Forms.RadioButtonSet
@using Catfish.Helpers;

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)

@{
    string lang = Catfish.Helpers.ViewHelper.GetActiveLanguage().TwoLetterISOLanguageName;
}

@for (int i = 0; i < Model.Options.Count; ++i)
{
    string label = Model.Options[i].Value.Where(v => v.LanguageCode == lang).Select(v => v.Value).FirstOrDefault();
    if (string.IsNullOrEmpty(label) && Model.Options[i].Value.Count > 0)
    {
        label = Model.Options[i].Value[0].Value;
    }

    @Html.RadioButton("Value", label, Model.Options[i].Selected, new { @class = "auto-width" })
    <span class="option-label">@label</span>
}
