@model Catfish.Core.Models.Data.CFFormSubmission
@using Catfish.Core.Helpers;

<div class="inner">
    <div class="box">
        @{ 
            string formTitle = MultilingualHelper.Join(Model.FormData.GetNames(false));
            if (string.IsNullOrEmpty(formTitle))
            {
                formTitle = "Form Data";
            }
        }
        <div class="title">
            @formTitle
        </div>
        <div class="inner">
            @Html.DisplayFor(m => m.FormData)
        </div>
    </div>
</div>
