@model Catfish.Core.Models.Forms.ClientInfo
@using Catfish.Core.Helpers;

<div class="form-field">
    <label class="name">@Html.Raw(MultilingualHelper.Join(Model.GetNames(false))): </label>
    <span class="value">@Html.Raw(MultilingualHelper.Join(Model.GetValues()))</span>
</div>

