
/*.checkbox {

}

.height50px {

}

.height40px {

}*/

.actionable-table .data-checkbox {
    width: 20px;
}

.actionable-table .data-row {
    height: 40px;
}

.actionable-table .control-row {
    height: 45px;
}

.actionable-table .control-row td {
    border-top: 0px !important;
}

.pagination {
    display: block !important;
    text-align: center !important;
}