.title{
    font-size: x-large;
}
.description{
    font-size: large;
}
.control button, .toolbar button {
    margin: 0.2rem;
}
.hideBtn{
    display: none;
}
.active {
    background-color: #cff4fc;
}
.pannel-buttons{
    border-color:black;
    margin:5px 5px 5px 5px;
    border-radius:10px;
}