@page  "~/manager/processes"
@inject Piranha.Manager.ManagerLocalizer Localizer
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	var viewData = new ViewDataDictionary(this.ViewData)
	{
		{ "appletName", "ProcessManager" },
	};

	Layout = "../Shared/_Vue3Layout.cshtml";
	ViewBag.Title = Localizer.Page["Processes"];
}

<div>
	<div class="top">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">@Localizer.Menu["Processes"]</li>
			</ol>
		</nav>
		<div class="container-fluid">
			<div class="top-nav">
			</div>
		</div>
	</div>

	<div class="manager-applet-container">
		<partial name="../Shared/_AppletLoader" view-data="@viewData" />
	</div>
</div>