@* Form Builder Vue App Template *@
<div id="v3app" class="container row ml-3 v3app">
    @*Toolbar*@
    <div class="toolbar bg-light" style="border: solid 1px blue">
        @*<h4>Field Types</h4>*@
        <div class="row">
            <div v-for="(template, index) in fieldTemplates" class="col-sm-2">
                <div class="m-1">
                    <div class="card bdr-info-h">
                        <div class="card-body bg-light" @@click="insertField(index)">
                            <span :class="template.icon"></span> {{template.templateButtonLabel}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Form*@
    <div class="" style="border:solid 1px blue">
        <h2>Form Properties</h2>
        <div class="card border-0">
            <div class="card-body">
                <div class="form-group">
                    <label>Form Title</label>
                    <input :value="formName" @@change="setFormProperty('Name', $event.target.value)" type="text" class="form-control" placeholder="Enter form title" />
                </div>
                <div class="form-group">
                    <label>Form Description</label>
                    <textarea :value="formDescription" @@change="setFormProperty('Description', $event.target.value)" type="text" class="form-control" placeholder="Enter form description here."></textarea>
                </div>
                <div class="form-group">
                    <label>Link Text</label>
                    <input :value="linkText" @@change="setFormProperty('LinkText', $event.target.value)" type="text" class="form-control" placeholder="Enter link text" />
                </div>
            </div>
        </div>
        <h3>Fields</h3>
        <div v-for="(field, index) in fields">
            <field :index="index"></field>
        </div>
    </div>
    @*<div class="col-2" style="height: 0px; position: -webkit-sticky; position: sticky; top:0; right: 0; text-align:center">
            <h4>Field Types</h4>
            <div v-for="(template, index) in fieldTemplates">
                <div class="m-1">
                    <div class="card bdr-info-h">
                        <div class="card-body bg-light" @@click="insertField(index)">
                            {{template.ComponentType.replace(/([A-Z])/g, " $1")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>



@*
    IMPORTANT
    =========
    The following things need to happen in this order:
    1. Import the store and the app model
    2. Create the app
    3. Import all components
    4. Mount the app.
*@
<!-- Import the App model -->
<script src="~/Vue/FormBuilder/store.js"></script>
<script src="~/Vue/FormBuilder/appModel.js"></script>
<script src="~/Vue/FormBuilder/fieldModel.js"></script>

<!-- Create the App -->
<script>
    const appTemplate = Vue.createApp(appModel, { id: 0 });
    appTemplate.use(store);
    appTemplate.component('field', fieldModel);

    const app = appTemplate.mount('#v3app');

</script>

<!-- Import Components -->
<partial name="Partial/VueApps/Templates/Field" />

@*Container for modal*@
<div id="modalContainer"></div>
