@using Catfish.Models.SiteTypes
@inject Catfish.Helper.ICatfishAppConfiguration _catfishAppConfig
@inject Piranha.IApi _piranhaApi;

@{
	var currentSite = await WebApp.Site.GetContentAsync<CatfishWebsite>();
	var lockImage = currentSite?.Restrictions.LockImage?.Media?.PublicUrl?.TrimStart(new char[] { '~' });

	string message = string.IsNullOrEmpty(currentSite?.Restrictions.LockMessage.Value) && string.IsNullOrEmpty(lockImage)
	? "<h4>Sorry, access to this website is currently restricted.</h4>"
	: currentSite.Restrictions.LockMessage.Value;

}

<div class="container">
	@if (!string.IsNullOrEmpty(lockImage))
	{
		<img src="@lockImage" style="width:100%"/>
	}
	@if (!string.IsNullOrEmpty(message))
	{
		<div class="alert alert-warning mt-5 text-center">@Html.Raw(message)</div>
	}
</div>