
/*
    Tabs widget
*/

ul.custom-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: -1px;
}

    ul.custom-tabs li {
        background: #ddd;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

        ul.custom-tabs li.active {
            background: #eee;
            color: #222;
            border-bottom: 0px solid #eee;
        }

.tab-content {
    background: #ededed;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-left-radius: 0px;
    box-shadow: 0 4px 10px rgba(0,0,0,.04);
}

.tab-content.active {
    display: inherit;
}

.custom-files {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.04);
}

#drop-zone {
    min-height: 50px;
    border: 4px dashed #ddd;
    padding: 20px;
    background-color: #fff;
    font-size: 1.5em;
}

.drop-zone-label {
    text-align: center;
    color: #bbb;
}

.progress-bar-container {
    background-color: #eee;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.progress-bar {
    background-color: #ddd;
    height: 24px;
    font-weight: bold;
    padding-left: 5px;
}

.file-row {
    display: flex;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,.04);
}

.file-thumbnail-container {
    width: 100px;
    height: 100px;
}

.file-thumbnail {
    max-height: 100px;
}

.file-info-container {
    width: 100%;
    position: relative;
}

.file-name {
    font-size: 1.5em;
}

.file-remove {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    background-color: #FC615D;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.file-ok {
    background-color: #35C94A;
    color: #fff;
    
}

.file-error {
    background-color: #FC615D;
    color: #fff;
    
}

.no-margin {
    margin: 0px !important;
}

.no-background-border {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
}

.auto-width {
    width: auto !important;
}

.form-field-header {
    background-color: #ededed;
    padding: 6px 10px;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid #e2e2e2;
}

.form-field-content {
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 2px 2px;
    border-top: 0px;
}

 .form-field-content > input, .form-field-content > textarea {
    background: transparent;
    font: normal 14px Arial;
    border: none 0;
    width: 100%;
    max-width: 100%;
}
 
 .
/*
    Tabs widget
*/

ul.custom-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: -1px;
}

    ul.custom-tabs li {
        background: #ddd;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

        ul.custom-tabs li.active {
            background: #eee;
            color: #222;
            border-bottom: 0px solid #eee;
        }

.tab-content {
    background: #ededed;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-left-radius: 0px;
    box-shadow: 0 4px 10px rgba(0,0,0,.04);
    clear:both;
}

.tab-content.active {
    display: inherit;
}


.custom-files {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.04);
}

#drop-zone {
    min-height: 50px;
    border: 4px dashed #ddd;
    padding: 20px;
    background-color: #fff;
    font-size: 1.5em;
}

.drop-zone-label {
    text-align: center;
    color: #bbb;
}

.progress-bar-container {
    background-color: #eee;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.progress-bar {
    background-color: #ddd;
    height: 24px;
    font-weight: bold;
    padding-left: 5px;
}

.file-row {
    display: flex;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,.04);
}

.file-thumbnail-container {
    width: 100px;
    height: 100px;
}

.file-thumbnail {
    max-height: 100px;
}

.file-info-container {
    width: 100%;
    position: relative;
}

.file-name {
    font-size: 1.5em;
}

.file-remove {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    background-color: #FC615D;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.file-ok {
    background-color: #35C94A;
    color: #fff;
    
}

.file-error {
    background-color: #FC615D;
    color: #fff;
    
}

.no-margin {
    margin: 0px !important;
}

.no-background-border {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
}

.auto-width {
    width: auto !important;
}

.form-field-header {
    background-color: #ededed;
    padding: 6px 10px;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid #e2e2e2;
}

.form-field-content {
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 2px 2px;
    border-top: 0px;
}

 .form-field-content > input, .form-field-content > textarea {
    background: transparent;
    font: normal 14px Arial;
    border: none 0;
    width: 100%;
    max-width: 100%;
}
 

 .container-custom label {
     float: none !important;
 }

.form-field{
    margin-bottom: 20px;
}

.form-field span{
    margin-right: 10px;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #ededed !important;
}

/* style for disabled link button*/
a[disabled] {
    pointer-events: none;
}

.disabledToolbarButton {
    opacity: 0.5;
    filter: alpha(opacity=50); /* msie */
    background-color: #00000026;
}