
#lang-switcher{
    float:right;
}

.form{
    margin-top:20px;
}

.form .form-field{
    margin-bottom:10px;
}

.form .form-field .desc{
    font-size:smaller;
}

    .form .form-field .option-label {
        font-size: smaller;
    }

    .form .form-field div.checkbox {
        font-size: smaller;
    }
.form .form-field .button{
}


.form-view .form-field div.value {
    margin-left: 20px !important;
}

    .form-view .form-field div.value div.checkbox, .form-view .form-field div.value div.radio {
        margin-top: 0px !important;
        margin-left: 20px !important;
    }


.thumbnailPanel {
    margin: 10px;
    float: left;
}

    .thumbnailPanel .fileThumbnail {
        height: 40px;
        margin: 15px 15px 15px 0;
        font-size: smaller;
        float: left;
    }

        .thumbnailPanel .fileThumbnail img {
            height: 40px;
        }

        .thumbnailPanel .fileThumbnail button {
            top: -15px;
            width: 16px;
            padding-left: 0px;
        }

        .thumbnailPanel .fileThumbnail .label {
            padding-top: 30px;
            float: right;
            margin-left: -20px;
            color: #444;
            background-color:transparent;
        }

.attachment.thumbnailPanel .fileThumbnail .label, .undeletable.fileThumbnail .label {
    margin-left: 0px;
}

.uploadField, .uploadButton {
    margin-top: 10px !important;
    padding: 0 10px;
    color:black !important;
}

.uploadButton{
    margin-left:10px !important;
}