
#lang-switcher{
    float:right;
}
button[disabled] {
    opacity: 0.6;
}
.loading-form {
    display: none;
}

.form{
    margin-top:20px;
}

.form .form-field{
    margin-bottom:10px;
}

.form .form-field .desc{
    font-size:smaller;
}

    .form .form-field .option-label {
        font-size: smaller;
    }

    .form .form-field div.checkbox {
        font-size: smaller;
    }
.form .form-field .button{
}


.form-view .form-field div.value {
    margin-left: 20px !important;
}

.slidercontainer {
    width: 350px;
}

.slidercontainer .sliderlabels {
    width: 100%;
    margin-top: 8px;
}

.slidercontainer .center {
    text-align: center;
    left: 183px;
    position: absolute;
}

.slidercontainer .left {
    float: left;
}

.slidercontainer .right {
    float: right;
}

.slidercontainer .div{
    width: 100%;
    padding: 0px;
}

.sliderlabels b{
    max-width: 45%;
}

.sliderlabel.right{
    text-align:right;
}

.slidercontainer input[type="range"].slider {
    width: 100%;
}

    .form-view .form-field div.value div.checkbox, .form-view .form-field div.value div.radio {
        margin-top: 0px !important;
        margin-left: 20px !important;
    }

.form-field{
    clear:both;
    margin-top:10px;
}

.comp-field {
    clear: both;
    margin-top: 40px;
}

.thumbnailPanel {
    margin: 10px;
    float: left;
}

    .thumbnailPanel .fileThumbnail {
        margin: 15px 15px 15px 0;
        /*font-size: smaller;*/
        float: left;
        text-align:center;
        position:relative;
        border:solid 1px #eee;
    }

        .thumbnailPanel .fileThumbnail img {
            height: 40px;
        }

        .thumbnailPanel .fileThumbnail .img {
            height: 100px;
            /*width: 40px;*/
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: center;
        }

        .thumbnailPanel .fileThumbnail button {
            top: 0px;
            right: 0px;
            width: 15px;
            height:15px;
            padding-left: 0;
            position:absolute;
        }

        .thumbnailPanel .fileThumbnail .label {
            display: block;
            color: #444;
            background-color: transparent;
            padding:2px 0;
        }

            .thumbnailPanel .fileThumbnail .label a {
                display: inline-block;
                width: 90px;
                height: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

.attachment.thumbnailPanel .fileThumbnail .label, .undeletable.fileThumbnail .label {
    /*margin-left: 0px;*/
}

.uploadField, .uploadButton {
    margin-top: 10px !important;
    padding: 0 10px;
    color:black !important;
}

.uploadButton{
    margin-left:10px !important;
}

/* style for page pagination link*/
.linkBtn {
    text-decoration: none;
}

.linkDiv {
    background-color: #faf9f9;
    min-height: 30px;
    padding-top: 9px;
}

.pageCount {
    padding-left: 400px;
    padding-right: 400px;
    font-weight: bold;
    margin-bottom:100px;
}

.bulletinboard {
    position:relative;
}

.bulletinboard .item{
    width:100px;
    height:100px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border: solid 1px #808080;
}

    .bulletinboard .item:hover {
        border: solid 3px blue;
    }

    .bulletinboard .zoom {
        margin: 0;
        padding: 10px;
        position: relative;
    }

    .bulletinboard .zoom .image {
        height: 220px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

.error {
    color: #FC615D;
}

.loadable-panel {
    position: relative;
}

.loading-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

    .loading-panel > div {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 112px;
        display: block;
        position: relative;
        background-color: #49b9da;
        border: 2px outset #59bedc;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.2em;
        color: white;
        text-align: center;
    }

.current-page {
    height: 1.1em;
    width: 40px;
    text-align: right;
}

.sortable {
    cursor: pointer;
}

.sort::after {
    font-family: 'Glyphicons Halflings';
}

.sort.sort-desc::after {
    content: " \e114";
}

.sort.sort-asc::after {
    content: " \e113";
}

/* audio recording panel style */
.clip {
    border: 1px solid #8080805e;
    margin-top: 20px;
}

audio {
    padding-top: 20px;
}

.clipLabel, .downloadBtn, .deleteBtn {
    font-size: 1.5em;
    margin-top: 20px !important;
    text-align: center;
}

.audioInputGlyphicon {
    font-size: 1.7em !important;
    margin-bottom: 30px !important;
    padding-bottom: 5px !important;
    margin-left: 10px !important;
    border-radius: 5px;
    padding-right: 5px;
}

.audioInputGlyphiconRecord, .audioInputGlyphiconremove {
    color: #ef0b0b !important;
}

#recordingTimeProgression {
    font-size: small;
    max-width: 53px;
    margin-top: -27px;
    margin-left: 232px;
}