@import url('bootstrap.min.css');

body {
    font-size: 15px;
    line-height: 20px;
}

.wrapper {
    max-width: 1200px;
    min-size: 300px;
    padding: 0 10px;
    margin: 0 auto;
}

.content {
    position: relative;
}

.main {
    margin-right: 280px;
}

.sidebar {
    width: 260px;
    margin-left: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.ingress {
    font-size: 18px;
    line-height: 24px;
    color: #999;
}

/**
 * Header
 */
header[role="banner"] {
    background: #f8f8f8;
    border-bottom: solid 1px #eee;
    margin-bottom: 20px;
    padding: 10px 0;
}

.site-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #444;
}

    .site-title:hover {
        color: #444;
        text-decoration: none;
    }

.site-desc {
    color: #666;
    font-style: italic;
}

/**
 * Main navigation
 */
.menu {
    margin: 0;
    overflow: hidden;
}

    .menu li {
        list-style-type: none;
        float: left;
        display: block;
        background: #999;
        padding: 4px 10px;
        border-radius: 2px;
        margin-right: 6px;
    }

        .menu li.active, .menu li.active-child {
            background: #666;
        }

        .menu li a {
            color: #fff;
            text-shadow: rgba(0,0,0,0.3) 1px 1px 1px;
        }


/** 
 * Simple media query
 */
@media (max-width: 768px) {
    .main {
        margin: 0;
    }

    .sidebar {
        border-top: 1px #eee solid;
        position: relative;
        width: auto;
        margin: 20px 0 0;
        padding: 10px 0 0;
    }
}

.audio-player-range {
    display: initial !important;
    width: initial !important;
}

/*
    Range css from
    http://danielstern.ca/range.css/#/
*/

/* Double Range */
.range-display {
    width: 5em;
}

.range-slider {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid rgb(204, 204, 204);
    background-color: white;
}

.range-slider > .range-slider-handle {
    border: 1px groove rgb(204, 204, 204);
    background-color: white;
}

.range-slider > .range-slider-range {
    background-color: #eeeeee;
}

/* Input Range*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6px 0;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #c7c7c7;
        border-radius: 18.5px;
        border: 0px solid #c7c7c7;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 1.4px 1.4px 2.9px #bcbcbc, 0px 0px 1.4px #c9c9c9;
        border: 1px solid #dddddd;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #c7c7c7;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #c7c7c7;
        border-radius: 18.5px;
        border: 0px solid #c7c7c7;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 1.4px 1.4px 2.9px #bcbcbc, 0px 0px 1.4px #c9c9c9;
        border: 1px solid #dddddd;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #ffffff;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #c7c7c7;
        border: 0px solid #c7c7c7;
        border-radius: 37px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-fill-upper {
        background: #c7c7c7;
        border: 0px solid #c7c7c7;
        border-radius: 37px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 1.4px 1.4px 2.9px #bcbcbc, 0px 0px 1.4px #c9c9c9;
        border: 1px solid #dddddd;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #ffffff;
        cursor: pointer;
        height: 3px;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #c7c7c7;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #c7c7c7;
    }

.calculatedField {
    float: left;
    background-color: #a3a2a2;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.ui-autocomplete {
    background-color: #FFF;
    border: 1px solid rgba(106, 175, 230, 0.83);
}

.action-buttons{
    margin:10px;
}
/*Google calendar panel*/

.calendar-default .calendar-event-dates {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.calendar-event {
    padding: 8px !important;
}

.date-month {
    font-size: 0.9em;
    text-transform: uppercase;
}

.date-day {
    font-size: 1.8em;
}

.date-year {
    font-size: 0.8em;
}

.date-time {
    line-height: initial;
    width: 80px;
}
/*.calendar-default .date-time {
    float: left;
}

.calendar-default .date-separator {
    float: left;
    margin-top: 20px;
    padding: 10px;
}*/
