@model Catfish.Core.Models.Forms.Option
@using Catfish.Helpers;

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
    {
       {"class", "model-type"}
    })

@{ 
    var lang = ViewHelper.GetActiveLanguage();
    string label = Model.Value.Where(v => v.LanguageCode == lang.TwoLetterISOLanguageName).Select(v => v.Value).FirstOrDefault();
    if (string.IsNullOrEmpty(label) && Model.Value.Count > 0)
    {
        label = Model.Value[0].Value;
    }
}
@Html.CheckBoxFor(m => m.Selected) <span>@label</span>
@Html.HiddenFor(m => m.Guid)