@model Catfish.Models.EntityViewModel


<div class="box field-entry">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id, new { @class = "field-id metadataset-id" })
   
    <div class="inner">
        <select class="metadataset-selector"></select>
        <button type="button" class="remove-field">x</button>
    </div>
</div>
