@model Catfish.Core.Models.Entity
@using Catfish.Core.Models;

<ul class="custom-tabs">

    @{ int idx = 0;}
    @foreach (var name in Model.MetadataSets.Select(ms => ms.GetName()))
    {
        <li class="tab-link @(idx == 0 ? "active" : "")" data-tab="tab-@idx">@name</li>
        ++idx;
    }
</ul>



@for (idx = 0; idx < Model.MetadataSets.Count; ++idx)
{
    <div id="tab-@idx" class="tab-content @(idx == 0 ? "active" : "inactive")">
        <div class="box no-margin">
            <div class="inner">
                <ul class="form">
                    @Html.EditorFor(m => m.MetadataSets[idx], "MetadataInput")
                </ul>
            </div>
        </div>
    </div>
}


