@model Catfish.Core.Models.Metadata.MetadataSet

@*@Html.EditorFor(m => Model.Fields)*@
<p>@Model.Description</p>

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Ref)

@Html.EditorFor(m => m.Fields)
