@model Catfish.Core.Models.CFMetadataSet
@{ 
    int anyReqField = 0;
}
@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)
<div class="row requiredField" style="text-align:right; padding-right:15px; display:none"><span class="requiredFieldSymbol">*</span>Required</div>
@for (int idx = 0; idx < Model.Fields.Count; ++idx)
{
    if (Model.Fields[idx].IsRequired) { anyReqField += 1; }

    <div class="form-field">
        @Html.EditorFor(m => Model.Fields[idx])   
    </div>
}

<style>
    .requiredFieldSymbol{color: red; font-weight:bold;}
</style>
<script>
   $(document).ready(function() {
    var displayReq = @anyReqField;
    if(displayReq > 0)
    {
      $(".requiredField").css("display", "block");
    }
});
</script>