@model Catfish.Core.Models.Metadata.TextArea

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Ref)

<div class="name">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name)
</div>
<div class="input">
    @Html.TextAreaFor(m => m.Value)
</div>
