@model Catfish.Core.Models.Forms.TextArea

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)

<div class="name">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name)
</div>
<div>
    @{ bool showLanguageLabel = Model.Values.Count() > 1; }
    @Html.EditorFor(m => m.Values, new { ShowLanguageLabel = showLanguageLabel, MultiLine = true })
</div>
