@model Catfish.Areas.Applets.Blocks.KeywordSearch

@inject Piranha.AspNetCore.Services.IApplicationService _webApp

<link href="/assets/dist/applets/css/app.css" rel="preload" as="style">
<link href="/assets/dist/applets/js/app.js" rel="preload" as="script">
<link href="/assets/dist/applets/js/chunk-vendors.js" rel="preload" as="script">
<link href="/assets/dist/applets/css/app.css" rel="stylesheet">


@{
    var pageId = _webApp.PageId;
    var blockId = Model.Id;
    var collectionId = Model.SelectedCollection.Value;
    var displayFormat = 'List';
}
<script>
    var pageId = '@pageId'
    var blockId = '@blockId';
    var displayFormat = '@displadisplayFormat';
</script>

<noscript>
    <strong>We're sorry but Keyword Search applet doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app" block-id="@blockId" page-id="@pageId" applet-name="KeywordSearch"
     data-collection-id="@collectionId" data-display-format="@displayFormat">
</div>
<script src="/assets/dist/applets/js/chunk-vendors.js"></script>
<script src="/assets/dist/applets/js/app.js"></script>