@model Catfish.Models.Regions.CSEntityPanel

@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;

    Model.View.Execute(ViewContext);
}
<div id="@cssId" class="bs @cssClasses">
    <style type="text/css" scoped>
                    @Html.Raw(cssStyles)
    </style>

    <div class="entity-panel">
        @Html.Raw(Model.View.ToString())
    </div>
</div>
