@model Catfish.Models.Regions.GridPanel

@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;
    int desktopCol = Convert.ToInt16(Model.DesktopColNum);
    int mobileCol = Convert.ToInt16(Model.MobileColNum);
    int bsColSize = 12 / desktopCol;
    int bsMobileCol = 12 / mobileCol;
}

    <div id="@cssId" class="bs @cssClasses container container-fluid" >
        <style type="text/css" scoped>
                        @Html.Raw(cssStyles)
        </style>
        <div class="flex-container">
            @{
                int i = 1;
               
                foreach (var entry in Model.Entries)
                {
                  string classes = "entry entry-" + i + " col-md-" + bsColSize + " col-xs-" + bsMobileCol;
                 <div class="entryCol @classes">
                        @Html.Raw(entry)
                 </div>
                    i++;
                }
            }

        </div>

    </div>

<style>
   
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
        .flex-container > div {
            /*border: 1px solid Green;*/
        }
</style>
