@model Catfish.Models.Regions.MultilingualText
@using Catfish.Models.Regions;
@using Catfish.Helpers;

@{
    var activeLang = ViewHelper.GetActiveLanguage(Session);
    var activeContent = Model.Content.Where(c => c.LanguageCode == activeLang.Code).FirstOrDefault();
}

<style>
    @Model.CssStyles
</style>

<div id="@Model.CssId" class="@Model.CssClasses">
    @activeContent.Value
</div>





