@model Piranha.Entities.Post
@* Used to handle a list of posts. *@

@try
{
    <text>@Html.Partial("_CustomPost")</text>
}
catch (Exception)
{
    // custom view does not exist.
    <div class="post col-xs-12">
        <div class="row">
            <h3 class="col-xs-12"><a href="@UI.Permalink(Model.PermalinkId)">@Model.Title</a></h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Raw(Model.Body)
            </div>
        </div>
    </div>
}
