@model Catfish.Models.Regions.QueryFilterPanel
<div>@Html.DisplayFor(m=>m.MinLabel)<input id="Min_Parameter" class="input filterInput" name="Min_Parameter" type="text" placeholder="1960"> 
    @Html.DisplayFor(m => m.MaxLabel) <input id="Max_Parameter" class="input filterInput" name="Max_Parameter" type="text" placeholder="2018"> 
    <button id="queryFilterPanel_button" class="btn btn-sm sm-search-btn">Filter</button></div>
<script>

      $(document).ready(function() {
          var url = window.location.href;
           if (url.indexOf('?') > -1){
            //url = url.substr(0,url.indexOf("?"));
           }
           
    });
     $("#queryFilterPanel_button").click(function(){
        minX = $("#Min_Parameter").val();
         maxX = $("#Max_Parameter").val();
         var url = window.location.href;

         Min_ParameterName= Min_ParameterName ? Min_ParameterName : "minYear";
         Max_ParameterName = Max_ParameterName ? Max_ParameterName : "maxYear";

         if (url.indexOf('?') > -1){
            url = url.substr(0,url.indexOf("?"));
        }
        var search_url = "?" + Min_ParameterName + "=" + minX +"&" + Max_ParameterName + "=" + maxX;
        url += search_url;
        window.location.href = url;
    });

</script>

<style>
    .sm-search-btn {
        height: 20px;
        padding-top: 1px;
        vertical-align: top;
    }
    .filterInput {
        width: 50px;
        margin: 0 10px;
    }
</style>