@model Catfish.Core.Models.Entity
@{
    ViewBag.Title = "SearchResult";
}

<div class="panel searchResult">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">@Model.Description</div>
</div>

