@model Catfish.Models.Regions.SearchResults

<h2>Search Results</h2>

<div>
    @Html.DisplayFor(m => m.Results, )
    @foreach(var result in Model.Results)
    {
        <div>
            <h3>@result.Name</h3>
            <p>@result.Description</p>
        </div>
    }
</div>
