@model Catfish.Models.Regions.SearchResults

<h2>Search Results</h2>

<div>
    @if (Model.Results != null)
    {
        int pageStart = (Model.Page - 1) * Model.TotalPerPage;
        for (int i = 0; i < Model.Results.Count(); ++i)
        {
            int index = i + 1 + pageStart;
            @Html.DisplayFor(m => m.Results.ElementAt(i), Model.SearchResultTemplate, new { Index = index })
        }
    }
</div>
