@model Catfish.Core.Models.CFCollection
@using Catfish.Areas.Manager.Models.ViewModels;
@using Catfish.Core.Models;

@{
    ViewBag.Title = "Associations";

    string childrenItemsKoContext = "ctx_" + Guid.NewGuid().ToString("N");
    string childrenCollectionsKoContext = "ctx_" + Guid.NewGuid().ToString("N");
    string relationshipKoContext = "ctx_" + Guid.NewGuid().ToString("N");
}

@section HEAD
{
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/catfish.css">

}

@section Toolbar {
    @Html.Partial("Partial/koEditToolbar", Model,
                new ViewDataDictionary() { { "reloadAction", "associations" },
{ "saveButtonFunctionCall", null } })
}

<div class="grid_12">
    <h3>@Model.GetName()</h3>
    <script>
        var external = {

            modelId: @Model.Id
        }
    </script>
    <div id="associations"></div>

</div>



<script src="~/Scripts/dist/associationsView.js"></script>