@model Catfish.Core.Models.CFCollection
@using Catfish.Areas.Manager.Models.ViewModels

@{  ViewBag.Title = Model.Id > 0 ? "Edit Collection" : "Create Collection"; }

@section HEAD
{
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/catfish.css">
}

@section Toolbar {
    @if (ViewBag.SelectEntityViewModel != null)
    {
        @Html.Partial("Partial/koEditToolbar")
    }
    else
    {

        @Html.Partial("Partial/EditToolbar", Model, new ViewDataDictionary() { { "entityTypeId", Model.EntityTypeId } })
    }
}

<div class="grid_12">
    <div class="box">

        @if (ViewBag.SelectEntityViewModel != null)
        {
            @Html.Partial("Partial/SelectEntityType", ViewBag.SelectEntityViewModel as SelectEntityTypeViewModel, new ViewDataDictionary() { { "controller", "collections" } })
        }
        else
        {
            using (Html.BeginForm("Edit", "Collections", FormMethod.Post))
            {
                @Html.Partial("Partial/EditEntity")
            }
        }
    </div>
</div>
