
@model IQueryable<Catfish.Core.Models.CFEntity>
   
@{ ViewBag.Title = "Collections"; }

@section Toolbar {
    @Html.Partial("Partial/IndexToolbar")
}

@*@Html.Partial("Partial/ObjectList", Model, new ViewDataDictionary() { { "showDeleteButton", true }, { "downloadAction", "DownloadFormData" } })*@

<div class="grid_12">
   
    <div id="collections"></div>

</div>
<script>
    var EntityTypes = @Html.Raw(ViewBag.EntityTypes);
    
    var modelType="CFCollection";
     var controller="collections";
    $(function() {
       $("input[type='checkbox']").hide();
    });
</script>
<script src="~/Scripts/dist/collectionsView.js"></script>
<style>
    .action-buttons > button{
        margin-right:15px;
    }
</style>
