@page "~/manager/templates/edit/{id:Guid?}"

@{
    ViewBag.Title = "Edit Entity Template";
    ViewBag.MenuItem = "CatfishWebExtensionsCollections";
    var id = ViewContext.RouteData.Values["id"]?.ToString();
}

<div id="CatfishWebExtensions">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Templates</li>
                <li class="breadcrumb-item">Entity Templates</li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                <button class="btn btn-icon btn-info">
                    <i class="fas fa-cog"></i>
                </button>
                <button class="btn btn-labeled btn-primary">
                    <i class="fas fa-plus"></i>Collection
                </button>
            </div>
        </div>
    </div>
</div>
