@model Catfish.Core.Models.Contents.Fields.CheckboxField

@{
    var selectedOptionTexts = Model.Options.Where(op => op.Selected)
        .Select(op => "<span>" + op.OptionText.ConcatenatedContent + "</span>")
        .ToList();

    if (selectedOptionTexts.Count == 0)
    {
        @Html.Raw("Not selected")
    }
    else
    {
        @Html.Raw(string.Join(", ", selectedOptionTexts))
    }
}
