@model IList<Catfish.Core.Models.Solr.SolrEntry>

@{
    foreach (var entry in Model)
    {
        <div class="search-result-entry">
            <div class="entry-title">
                @foreach (var title in entry.Title)
                {
                    <div><b>@Html.Raw(title)</b></div>
                }
            </div>
            <div class="entry-body">
                <div>Object ID: @entry.Id</div>
                <div>Object Type: @entry.ObjectType</div>

                @foreach (var snippet in entry.Highlights)
                {
                    <div>@Html.Raw(snippet)</div>
                }
            </div>
        </div>
    }
}