<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="piranha" type="Piranha.ConfigFile, Piranha" allowLocation="true" allowDefinition="Everywhere" /></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="SMTPUser" value="" />
    <add key="SMTPPassword" value="" />
    <add key="SMTPServer" value="" />
    <add key="SMTPPort" value="465" />
    <add key="SMTPTlsSslRequired" value="yes" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <authentication mode="Forms">
			<forms name="PiranhaCMS" timeout="30" />
		</authentication><sessionState timeout="30" /><pages controlRenderingCompatibilityVersion="4.0" /></system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<piranha>
		<settings>
			<managerNamespaces value="Catfish.Areas.Manager.Controllers" />
			<disableManager value="false" />
			<disableTypeBuilder value="false" />
			<passiveMode value="false" />
			<prefixlessPermalinks value="false" />
			<disableCatalogSearch value="false" />
			<disableComposition value="false" />
			<renderX-UA-CompatibleForIE value="true" />
			<showDBErrors value="false" />
			<exactPermalinkMatching value="false" />
		</settings>
		<providers>
			<mediaProvider value="Piranha.IO.LocalMediaProvider, Piranha" />
			<mediaCacheProvider value="Piranha.IO.LocalMediaCacheProvider, Piranha" />
			<cacheProvider value="Piranha.Cache.WebCacheProvider, Piranha" />
			<logProvider value="Piranha.Log.LocalLogProvider, Piranha" />
		</providers>
	</piranha><system.webServer>
		<modules>
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
		</modules>
		<handlers>
			<add name="SitemapHandler" path="/sitemap.xml" verb="GET" type="Piranha.Web.Handlers.SitemapHandler" />
		</handlers>
		<urlCompression doStaticCompression="true" />
	</system.webServer><connectionStrings>
		<add name="piranha" connectionString="data source=.\sqlexpress;initial catalog=piranha-db;user id=user;password=pass;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />
	</connectionStrings></configuration>