@model System.String
@{
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@section Toolbar {
    @Html.Partial("Partial/IndexToolbar")
}

@*@Html.Partial("Partial/ObjectList", Model, new ViewDataDictionary() { { "showType", true }, { "showDeleteButton", true } })
@{

}*@

<h1>It works!!!</h1>