@model Piranha.Extend.Block
@using System.Xml.Linq;

@*Catfish.Areas.Applets.Blocks.KeywordSearch*@

@inject Piranha.AspNetCore.Services.IApplicationService _webApp

<link href="/assets/dist/applets/css/app.css" rel="preload" as="style">
<link href="/assets/dist/applets/js/app.js" rel="preload" as="script">
<link href="/assets/dist/applets/js/chunk-vendors.js" rel="preload" as="script">
<link href="/assets/dist/applets/css/app.css" rel="stylesheet">


@{
    var pageId = _webApp.PageId;
    var blockId = Model.Id;
    var mountPointId = string.Format("app-{0}", blockId);
}

<noscript>
    <strong>We're sorry but Keyword Search applet doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="@mountPointId"></div>

@*<script src="/assets/js/vue/vue-dev.js"></script>*@
<script src="/assets/js/vue3/vue.global.js"></script>
<script src="/assets/js/vue3/vuex.global.js"></script>

<script src="/applets/dist/applets.min.js"></script>

<script type="module">
    //import store from '/assets/dist/applets/js/app.js';

    const applet = Applets.@ViewData["applet"];
    if (!applet)
        throw "Applet \"@ViewData["applet"]\" not found.";

    Vue.createApp(Applets.@ViewData["applet"], {
        pageId: '@pageId',
        blockId: '@blockId'
    }).mount('#@mountPointId');

</script>
