:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

    *:focus {
        outline: none;
    }

body {
  margin: 0;
  display: flex;
  place-items: baseline;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0.2rem;
}
button:hover {
  border-color: #646cff;
}
button:disabled:hover {
  border-color: transparent;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
    max-width: 1280px;
    width:100%;
    margin: 0 auto;
    padding: 0 2rem;
    /*text-align: center;*/
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
    background-color:#242424;
    height: 2rem;
    border-bottom: solid #808080 1px;
    padding-top: 0.3rem;
}
    .header a {
        color: white;
    }
    .header a:hover {
        font-weight: bold;
    }


.fade-enter-active, .fade-leave-active {
    transition: opacity 3s;
}

.fade-enter, .fade-leave-to  .fade-leave-active below version 2.1.8  {
    opacity: 0;
}
.form-title{
    font-size:36px;
    font-weight:bold;
    
}
.text-field-title {
    margin-top: 60px;
}
.opt-delete {
    background-color: #FF0000;
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 7px;
    padding-top: 1px;
    text-decoration: none;
    display: inline;
    font-size: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.option-values {
    background-color: lightgray;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 5px;
}
.text-field-lable {
    margin-left: 50px;
    font-weight: bold;
    display: inline-block;
    margin-top:20px;
    /*min-width: 150px;*/
}
.text-area-lable {
    margin-left: 50px;
    font-weight: bold;
}
.text-field {
    width: 350px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 210px;
    margin-top: -25px;
    display:block;
}
.text-area {
    width: 350px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 70px;
}
.field-text-area {
    width: 350px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 210px;
}
.option-field-text-area {
    width: 350px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 70px;
}
.form-field-border {
    border: 1px solid #ccc !important;
    padding: 30px 16px;
    border-radius: 16px;
    min-height:100px;
    margin-bottom:10px;
}

.display-options {
    margin-left: 147px;
}
.option-field {
    margin-left: 210px;
    margin-top: -25px;
    margin-bottom: 30px;
}
.fa-icon {
    margin: 5px 15px;
    cursor: pointer;
}
    .fa-icon.delete {
        color: #dc3545;
    }
    .fa-icon.plus {
        color: #4CAF50;
    }
    .fa-icon.add-option {
        height: 25px;
        width: 25px;
    }
    .fa-icon.field-delete {
        float: right;
        color: #dc3545;
        height: 25px;
        width: 25px;
    }
.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 140px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        /*top: 110%;*/
    }

    .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
    }
.plus-button{
    margin-left:350px;
    margin-top:-105px;
}
.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    min-width:100%;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.multilingual-field {
    display: inline-block;
}
.multilingual-field-delete {
    float:right;
    margin-top: -25px;
}
.toggle-button-cover {
    display: table-cell;
    position: relative;
}

.button-cover {
    background-color:transparent;
}

    .button-cover:before {
        counter-increment: button-counter;
        content: counter(button-counter);
        position: absolute;
        right: 0;
        bottom: 0;
        color: #d7e3e3;
        font-size: 12px;
        line-height: 1;
        padding: 5px;
    }

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

    .button.r,
    .button.r .layer {
        border-radius: 100px;
    }

    .button.b2 {
        border-radius: 2px;
    }

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #f5bfbf;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
    content: "No";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #f44336;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
/*#0b8533*/
#button-1 .checkbox:checked + .knobs:before {
    content: "Yes";
    left: 42px;
    background-color: #0b8533;
}

#button-1 .checkbox:checked ~ .layer {
    background-color: #7eeda3;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
    transition: 0.3s ease all;
}
