@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script type="text/x-template" id="field-template">
    <div class="card alert bdr-info-h"
         @@click="selectField()"
         :class="{ 'alert-warning': isHighlighted }">
        <div class="card-header pr-0" @@clcik="selectField()">
            <div class="row">
                <div class="col-8">
                    [{{field.ComponentType.replace(/([A-Z])/g, " $1")}}] {{field.Name}}
                </div>
                <div class="col-4 text-right float-right">
                    <button @@click="showTeleportModel(field.Id)" type="button" :id="'edit-button-' + field.Id" class="btn btn-warning rounded-circle"><i class="fas fa-cog"></i></button> &nbsp;
                    <partial name="Partial/VueApps/Templates/Teleport/FieldSettings" />
                    <button @@click="moveUp(index)" :disabled="index == 0" type="button" class="btn btn-success rounded-circle"><i class="fas fa-arrow-up"></i></button> &nbsp;
                    <button @@click="moveDown(index)" :disabled="index == this.$store.getters.fieldCount - 1" type="button" class="btn btn-success rounded-circle"><i class="fas fa-arrow-down"></i></button> &nbsp; &nbsp; &nbsp;
                    <button @@click="deleteField(index)" type="button" class="btn btn-danger rounded-circle">X</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="control-label">Field Name</label>
                <input :value="field.Name" @@change="setFieldProperty('Name', $event.target.value)" type="text" class="form-control" placeholder="Enter field name" />
            </div>

            <div class="form-group">
                <label class="control-label">Field Description</label>
                <textarea :value="field.Description" @@change="setFieldProperty('Description', $event.target.value)" type="text" class="form-control" placeholder="Enter field description"></textarea>
            </div>

            <div v-if="isOptionField" class="form-group">
                <div class="form-group">
                    <label class="control-label">Options</label>
                    <table class="table" style="table-layout: fixed; width: 100% !important; ">
                        <thead>
                            <tr>
                                <td scope="col" class="col-5">Label</td>
                                <td scope="col">Extended</td>
                                <td scope="col" colspan="2"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(opt, optIdx) in field.Options">
                                <td scope="col">
                                    <input :value="opt.Label" @@change="setOptProperty(optIdx, 'Label', $event.target.value)" class="m-1 col-8" />
                                    <span v-if="opt.Limit > 0">{{ opt.Limit }}</span>
                                    <span v-if="opt.Price > 0">@@${{ opt.Price }}</span>
                                </td>
                                <td scope="col"><input :checked="opt.IsExtended" @@change="setOptProperty(optIdx, 'IsExtended', $event.target.checked)" type="checkbox" style="margin-left:25px" /></td>
                                <td scope="col" colspan="2" style="text-align:right">
                                    <button @@click="showTeleportModel(opt.Id)" type="button" :id="'option-button-' + field.Id + '_' + optIdx" class="btn btn-warning rounded-circle"><i class="fas fa-cog"></i></button> &nbsp;
                                    @{ Html.RenderPartial("VueApps/Templates/Teleport/OptionSettings"); }

                                    <button @@click="addOption(optIdx)" type="button" class="btn btn-sm btn-outline-success rounded-circle mr-2"><i class="fas fa-plus"></i></button>
                                    <button @@click="moveOpt(optIdx, true)" type="button" class="btn btn-sm btn-outline-info rounded-circle mr-2" :disabled="optIdx == 0"><i class="fas fa-arrow-up"></i></button>
                                    <button @@click="moveOpt(optIdx, false)" type="button" class="btn btn-sm btn-outline-info rounded-circle mr-2" :disabled="optIdx == field.Options.length - 1"><i class="fas fa-arrow-down"></i></button>
                                    <button @@click="deleteOption(optIdx)" type="button" class="btn btn-sm btn-outline-danger rounded-circle">X</button>
                                </td>
                            </tr>
                            <tr v-if="field.Options.length == 0">
                                <td colspan="6" style="text-align:right">
                                    <button @@click="addOption(null)" type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" :checked="field.IsRequired" @@change="setFieldProperty('IsRequired', $event.target.checked)" />
                <label class="form-check-label">Required</label>
            </div>
        </div>
    </div>
</script>

@* Teleport pop-up model styles *@
<style scoped>
    .modal-header {
        align-items: start !important;
    }

    .modal-dialog {
        margin-top: 230px;
        max-width: 900px;
    }

    .modal-backdrop {
        background-color: #0006;
        z-index: 3000
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 300px;
        width: 400px;
        display: contents;
    }
</style>



