@model Catfish.Core.Models.Contents.ViewModels.ListEntries.EntityTemplateListEntry
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer
@using Catfish.Core.Models;
@{
    var id = Model.Id;
    var modelType = Model.ModelType;
    string detailsPage = "/manager/schema/" + Model.Id;
    string editorPage = "/manager/schema/edit/" + Model.Id;
}
<li class="dd-item expanded">
    <div class="sitemap-item">
        <div class="handle dd-handle">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class=" col-md-8">
                    <a href="@detailsPage">@Model.TypeName</a>
                </div>
                <div class=" col-md-4 text-right">
                    <a href="@detailsPage">View XML</a> |
                    <a href="@editorPage">Edit XML</a>
                </div>
            </div>
        </div>
    </div>
</li>
