@model Catfish.Core.Models.Contents.ViewModels.ListEntries.EntityTemplateListEntry
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer
@using Catfish.Core.Models;
@{
    var id = Model.Id;
    var modelType = Model.ModelType;
    string detailsPage = null;
    string editorPage = null;
    if (Model.ModelType.StartsWith(typeof(Item).FullName))
    {
        detailsPage = Model.Id.ToString();
        editorPage = "schema/" + Model.Id;
    }
    else if (Model.ModelType.StartsWith(typeof(Collection).FullName))
    {
        detailsPage = Model.Id.ToString();
        editorPage = "schema/" + Model.Id;
    }

}
<li class="dd-item expanded">
    <div class="sitemap-item">
        <div class="handle dd-handle">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class=" col-md-10">
                    <a href="@detailsPage">@Model.TypeName</a>
                </div>
                <div class=" col-md-2">
                    <a href="@editorPage">Edit</a>
                </div>
            </div>
        </div>
    </div>
</li>
