@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer
@model Catfish.Core.Models.Contents.ViewModels.ListEntries.EntityListEntry

<li class="dd-item expanded">
    <div class="sitemap-item">
        <div class="handle dd-handle">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="link">
            @Model.Name.GetConcatenatedContent(" | ")
        </div>
    </div>
</li>
