@model Catfish.Areas.Manager.Pages.ListPageModel
@inject Piranha.Manager.ManagerLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div>Api URL: @Model.ApiRoot</div>
<div>Details Page URL: @Model.DetailsPage</div>
<div>Edit Page URL: @Model.EditPage</div>
