@model IQueryable<Catfish.Core.Models.EntityGroup>
@{
    ViewBag.Title = "Entity Groups";
}
@section Toolbar {
    @Html.Partial("Partial/IndexToolbar")
}
<div class="bs">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td class="col-md-4">Entity Group Name</td>
                    <td class="col-md-5">Users</td>
                    <td class="col-md-3">Actions</td>
                </tr>
            </thead>
            @{
                foreach (var m in Model)
                {

                    <tr><td>@m.Name</td><td></td><td>Details | 
                                <span data-toggle="tooltip" title="Edit"data-container="body" >
                                      @Html.ActionLink(" ", "Edit", "EntityGroups", new { Id = m.Id.ToString() }, new { @class = "glyphicon glyphicon-edit" })
                                </span>
                                                         | Delete
</td></tr>
                }
            }
        </table>
    </div>
</div>