body {
}
#site-logo {
    /*site logo
    background-image: url("../../uploads/f27e4c34-78c8-4f71-936c-89c0f396f1c9-UA-COLOUR.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
    background-size:300px;*/
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: auto;
}

footer > .container > .row{
    color: white;
    background-color:black;
}
.footer-arc-text{
    height:50px;
    line-height:50px;
}
.footer-arc-logo{
    text-align:right;
    padding:5px;
}
.footer-arc-logo > img{
    width:40px;
    height:40px;
}

/* Image gallery carousel */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.thumb-list-inline {
    white-space: nowrap;
    overflow-x: auto;
}


/* vocabulary search block */
ul.searchcheckbox {
    column-count: 2;
    column-gap: 2rem;
    list-style: none;
}

    ul.searchcheckbox li:hover,
    ul.searchcheckbox li.focus {
        background-color: lightblue;
        border: 1px lightgrey solid;
        width: 12em;
    }

ul.searchcheckbox li {
        border: 5px transparent solid;
        display: inline-block;
        width: 12em;
}

legend.searchcheckbox {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid grey;
    background-color: white;
    color: white;
}

fieldset.checkboxgroup {
    border: 1px solid;
    margin: 0;
    padding: 0;
    margin-bottom: 1.25em;
    padding: .125em;
    background-color: antiquewhite;
}

    fieldset.checkboxgroup legend {
        border: 1px solid black;
     /*   float: right;
        float: left;*/
        border-radius: 15px;
        text-align: center;
        /* text-align: left;*/
        margin: 10px;
        padding: 10px;
        /*margin-left: 20px;*/
        font-size: 100%;
        color: black;
    }

ul.checkboxgroup li {
    border: 5px transparent solid;
    display: inline-block;
    width: 12em;
} 
