body {
}
#site-logo {
    /*site logo*/
    background-image: url("../../uploads/f27e4c34-78c8-4f71-936c-89c0f396f1c9-UA-COLOUR.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
    background-size:300px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: auto;
}

footer > .container > .row{
    color: white;
    background-color:black;
}
.footer-arc-text{
    height:50px;
    line-height:50px;
}
.footer-arc-logo{
    text-align:right;
    padding:5px;
}
.footer-arc-logo > img{
    width:40px;
    height:40px;
}

/* Image gallery carousel */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.thumb-list-inline {
    white-space: nowrap;
    overflow-x: auto;
}