#itemlist-page .container-fluid .top-nav {
	display: flex;
}

#itemlist-page .container-fluid.top .left-nav-container{
	display:flex;
}

#itemlist-page .container-fluid .top-nav.ce {
	position: relative;
	padding-right: 0;
	padding-left: 0;
}

#collapse-expand-button{
	padding-right:0;
}
