#itemlist-page .container-fluid .top-nav,
#itemlist-page .container-fluid.top .left-nav-container,
#item-edit-page .sitemap.sitemap-container, 
#item-edit-page .flexer {
	display: flex;
}

	#itemlist-page .container-fluid .top-nav.ce {
		position: relative;
		padding-right: 0;
		padding-left: 0;
	}

#itemlist-page .container-fluid.collection-button-holder {
	min-width: 390px;
}

#collapse-expand-button, #item-edit-page .fas {
	padding-right: 0;
}

.sitemap-item.additional-spacing {
	margin-bottom: 10px;
}

.sitemap-item .link .language-label {
	align-self: center;
	padding-right: 10px;
	flex-shrink:0;
}

.sitemap-item .link .width-100{
	width:100%;
}

.sitemap-item.add-entry-container {
	width: 60px;
	justify-content: center;
	float: right;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#item-edit-page .top-nav{
	display:flex;
	align-items: baseline;
}

#item-edit-page .success-message {
	padding-left: 10px;
	color: green;
	padding-right: 10px;
}

#item-edit-page .failed-message {
	padding-left: 10px;
	color: red;
	padding-right: 10px;
}

#item-edit-page .dd-item .sitemap-item {
	margin-bottom: 0;
}

#item-edit-page ol.dd-list {
	/*margin-top: 1rem;*/
	flex: 2;
}

#item-edit-page .btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
	margin: 0 10px 0 10px;
}

.container-fluid.tab-holder {
	padding-top: 10px;
}

#item-edit-page .tab-content {
	/*padding-top: 15px;
	padding-left: 15px;
	border-left: solid #dee2e6 1px;
	border-right: solid #dee2e6 1px;*/
}

#item-edit-page .nav-tabs {
	border-bottom: none;
	margin-bottom: 2px;
}

#item-edit-page .nav-tabs .nav-link {
	background-color: #dee2e6;
}

#item-edit-page .nav-tabs .nav-item {
	margin-bottom:unset;
}

#item-edit-page .nav-tabs .nav-link.active {
	background-color: white;
	border-color: transparent;
	/*border-color: #dee2e6 #dee2e6 #FFFFFF;*/
}

#item-edit-page .tab-content {
	/*background-color: white;*/
}

/*#item-edit-page .field-section {
	padding: 15px;
}*/

#item-edit-page .label-holder {
	display: flex;
	flex-grow: 1;
	max-width: 25%;
	justify-content: space-between;
}

#item-edit-page .metadata-input {
	flex-grow: 1;
	max-width: 100%;
}

#item-edit-page .add-value-container {
	/*height: 30px;
	padding-right: 15px;*/
	padding-top: 0;
}

#item-edit-page .float-right-button {
	float: right;
}

#item-edit-page .space-above {
	padding-top: 15px;
}

#item-edit-page .flex-row {
	display: flex;
	padding-bottom: 15px;
	padding-top:15px;
}

#item-edit-page .tab-pane .link {
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
}

#item-edit-page .tab-pane .sitemap-item {
	flex-direction: column;
}

#item-edit-page .tab-holder .col{
	padding-bottom: 15px;
}

#item-edit-page .trash-button{
	
}

.collapse-expand .egg-icon{
	width:1px;
}

.collapse-expand .show-egg{
	display: block;
	width:18px;
}

.collapse-expand .hide-egg {
	display:none;
}
/* hide the first 2 blocks on Page creation */
div.unsortable:nth-of-type(1), div.unsortable:nth-of-type(2) {
	display: none;
}

/* modified login logo : MR aug 19 2020 */
#login .card-body.card-body-logo .logo {
	background: url(../images/egg-svg-05.svg) 50% 50% no-repeat !important;
	
}
.banner{
	display: none;
}

.listStyleTypeNone{
	list-style-type: none;
}

.ul-flex {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.li-flexItem {
	display: block;
	flex: 1 0 25%;  
	max-width:25%;
}
#vocabulary-check-block{
	background-color:#f2f2f2;
}
.lead{
	margin-top:10px;
}