#edit-field-form-page .input-group textarea {
	resize: vertical;
}

#edit-field-form-page .form-container {
	padding-left: 15px;
	padding-right: 15px;
}

#edit-field-form-page #accordion {
	padding-right: 15px;
	padding-left: 0;
}

#edit-field-form-page .section-container .container{
	padding-left: 0;
	padding-right: 0;
}

#edit-field-form-page .section-container {
	background-color: white;
	margin-bottom: 2px;
	padding: .75rem 1rem;
}

#edit-field-form-page .card {
	background-color: white;
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

/*#edit-field-form-page .field-card-width {
	width: 90%;
}*/

#edit-field-form-page .flex-full{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	width:100%;
}

/*
	Don't know why this isn't working properly in Bootstrap,
	the border's width is set as 0 for some reason.
	Remove if resolved later
*/
#edit-field-form-page .card-footer {
	border-top: 1px solid rgba(0,0,0,.125);
}

/*Same with this one */
#edit-field-form-page .input-group .input-group-text {
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	text-transform: capitalize;
}

#edit-field-form-page .flex-li{
	display:flex;
}

#edit-field-form-page .field-item-label{
	flex: 0.25;
}

#edit-field-form-page .field-input{
	flex: 2;
}

/*#edit-field-form-page .rounded {
	border-radius: 25px !important;
	padding-left: 15px;
	padding-right: 15px;
}*/

#edit-field-form-page .handle-drag,
#edit-field-form-page .handle-holder {
	flex: 1;
	width: 100%;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

#edit-field-form-page .handle-drag {
	min-width: 60px;
	border-top: solid 2px #f2f2f2;
	border-left: solid 2px #f2f2f2;
	border-bottom: solid 2px #f2f2f2;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

#edit-field-form-page .collapsing-items {
	border-right: solid 2px #f2f2f2;
	border-bottom: solid 2px #f2f2f2;
	border-bottom-right-radius: 8px;
}

#edit-field-form-page .handle-holder {
	text-decoration: none;
	color: white;
	min-width: 0px;
	cursor: pointer;
}

#edit-field-form-page .handle-drag:hover,
#edit-field-form-page .fieldtype-draggable {
	cursor: move;
}

#edit-field-form-page .fieldtype-draggable {
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
	border: solid 2px #f2f2f2;
}

#edit-field-form-page .fieldtypes-holder {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 55px;
	max-height:400px;
}

#edit-field-form-page .field-card-contents,
#edit-field-form-page .title-header {
	display: flex;
	flex-direction: column;
	flex: 10;
}

#edit-field-form-page .title-header {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 0;
}

	#edit-field-form-page .title-header h2,
	#edit-field-form-page .title-header h5 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

#edit-field-form-page .field-card-contents {
	border-left: 1px solid rgba(0,0,0,.125);
	min-width: 0px;
}

#edit-field-form-page .field-card-contents .sitemap-item.card-header {
	background-color: #222;
	color: white;
	font-weight: unset;
	text-transform: unset;
	display: flex;
	border: solid 1px #222;
	border-top-left-radius: 0;
}

#edit-field-form-page .card-header input[type='checkbox']:checked {
	background: #abd;
}

#edit-field-form-page .sitemap-item {
	margin-bottom: unset;
}

#edit-field-form-page .handle{
	border-right:none;
}

/* again, unsure why this is doing this */
		#edit-field-form-page .input-group .form-control {
	border-right: 1px solid #ced4da;
}

#edit-field-form-page .add-button-holder{
	display: flex;
	justify-content: flex-end;
}

#edit-field-form-page .file-attachment-box {
	display: flex;
	padding: 30px;
	justify-content: center;
	border: 2px dashed #ced4da;
	background-color: whitesmoke;
}

#edit-field-form-page .file-attachment-box button {
	cursor:default;
}

#edit-field-form-page .field-bottom {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#edit-field-form-page .field-bottom .field-dropdown{
	margin-bottom:unset;
	margin-right: 10px;
}

#edit-field-form-page .form-check-input {
	position:relative;
	margin-left: 0.5rem;
}

#edit-field-form-page .filetype-checkbox{
	width:50%;
}

#edit-field-form-page .header-tools-holder {
	display: flex;
	align-items: end;
	flex: 1;
	min-width: 200px;
	padding: 0.75rem 0rem;
}

#edit-field-form-page .filetype-checkbox-holder {
	display: flex;
	flex-wrap: wrap;
}

#edit-field-form-page .red-color {
	border: solid red 3px;
	border-radius: 5.25px;
}

#edit-field-form-page .has-error-in-field {
	border: solid #a94441 3px;
}

#edit-field-form-page .option-title-holder {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	width:100%;
}