#edit-field-form-page .card {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#edit-field-form-page .flex-full{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
}

/*
	Don't know why this isn't working properly in Bootstrap,
	the border's width is set as 0 for some reason.
	Remove if resolved later
*/
#edit-field-form-page .card-footer {
	border-top: 1px solid rgba(0,0,0,.125);
}

#edit-field-form-page .flex-li{
	display:flex;
	align-items: baseline;
}

#edit-field-form-page .field-item-label{
	flex: 0.25;
}

#edit-field-form-page .field-input{
	flex: 2;
}

#edit-field-form-page .rounded {
	border-radius: 25px !important;
	padding-left: 15px;
	padding-right: 15px;
}

#edit-field-form-page .handle-drag,
#edit-field-form-page .handle-holder {
	flex: 1;
	/*align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;*/
	width: 100%;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	/*flex: 0;
	padding-left: 10px;
	padding-right: 10px;*/
}

#edit-field-form-page .handle-drag:hover{
	cursor: pointer;
}


#edit-field-form-page .field-card-contents,
#edit-field-form-page .title-header {
	display: flex;
	flex-direction: column;
	flex: 10;
}

#edit-field-form-page .field-card-contents {
	border-left: 1px solid rgba(0,0,0,.125);
}

#edit-field-form-page .sitemap-item {
	border-bottom: 1px solid rgba(0,0,0,.125);
	margin-bottom: unset;
}

#edit-field-form-page .handle{
	border-right:none;
}