@model Catfish.Models.Blocks.CalendarBlock
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Calendar Block";
}

@{

    List<Catfish.Models.Blocks.CalendarEvent> CalendarEventList = Model.GetCalendarEvents();
    bool showSummary = true;
    bool showDescription = true;
    bool showLocation = true;

    var jsonData = JsonConvert.SerializeObject(Model);
    var googleCalendarData = JsonConvert.SerializeObject(CalendarEventList);

    Dictionary<DateTime, int> datesDict = new Dictionary<DateTime, int>();
    //create list of dates to mark as events
    foreach (var calendarEvent in CalendarEventList)
    {
        //need to be able to catch multiple dates and also watch out for different months/years
        //multiple events can ocur on the same date in this case since this is just to show on the calendar that there is something happening at all
        datesDict.Add(calendarEvent.StartDateTime,
    Math.Abs((calendarEvent.StartDateTime.Date - calendarEvent.EndDateTime.Date).Days));
    }


    string calendarStyling;
    switch (Model.CalendarStyle.Value)
    {
        case Catfish.Models.Blocks.CalendarStyles.Simple:
            calendarStyling = "simple-style";
            break;
        case Catfish.Models.Blocks.CalendarStyles.Rounded:
            calendarStyling = "rounded-style";
            break;
        default:
            calendarStyling = "simple-style";
            break;
    }

    //int displayCalendarSetting;

    //switch ((int)Model.DisplayCalendarUI.Value)
    //{
    //    case (int)Catfish.Models.Blocks.CalendarTypes.DoNotDisplayCalendar:
    //        displayCalendarSetting = 0;
    //        break;
    //    case (int)Catfish.Models.Blocks.CalendarTypes.RegularCalendar:
    //        displayCalendarSetting = 1;
    //        break;
    //    case (int)Catfish.Models.Blocks.CalendarTypes.WeeklyStrip:
    //        displayCalendarSetting = 2;
    //        break;
    //    default:
    //        displayCalendarSetting = 0;
    //        break;
    //}
}


<calendar-block-vue v-bind:model='@Html.Raw(jsonData)' :googlecalendardata='@googleCalendarData' inline-template class="container container-fluid google-calendar-panel calendar-events calendar-default">
    <div>
        @if (Model.DisplayCalendarUI.Value == Catfish.Models.Blocks.CalendarTypes.RegularCalendar)
        {

            <div class="calendar-container @calendarStyling">
                <div class="month-header-container">
                    <div class="clickable left-arrow" v-on:click="goToPreviousMonth()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                    <div class="month-title-container">
                        <h3 class="clickable" v-on:click="goToPresentMonth()">{{selectedMonth.format("MMMM")}} {{selectedMonth.format("YYYY")}}</h3>
                    </div>
                    <div class="clickable right-arrow" v-on:click="goToNextMonth()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
                <div class="calendar-month-container">
                    <div class="calendar-weekday-container">
                        <div v-for="weekday in WEEKDAYS" class="weekday-label-container">
                            <div>{{weekday}}</div>
                        </div>

                    </div>
                    <div class="days-container">
                        <template v-for="(day, index) in days">
                            <div class="calendar-day" :class="{'day-not-current-month': !day.isCurrentMonth, 'today-is-the-day': day.date == today, 'event-day-color': day.hasEvent }">
                                <div class="day-number">{{day.dayOfMonth}}</div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>

        }else if(Model.DisplayCalendarUI.Value == Catfish.Models.Blocks.CalendarTypes.WeeklyStrip)
        {
            <div>Weekly calendar goes here</div>
        }

        <h3 class="events-title">Events</h3>
        <hr />

        <div v-for="calendarEvent of googlecalendardata" v-if="calendarEvent.StartMonth == selectedMonth.format('MMM')" class="row well calendar-event">

            <div class="col-md-10">
                <div class="summary">
                    <h4>{{calendarEvent.Summary}}</h4>
                </div>
                <div v-if="calendarEvent.Description" class="description">{{calendarEvent.Description}}</div>
                <div v-else class="description">No description provided.</div>
                <div class="location">{{calendarEvent.Location}}</div>
            </div>
            <div class="col-md-2 calendar-event-dates">
                <div class="date-time date-time-start">
                    <div class="date-month">{{calendarEvent.StartMonth}}</div>
                    <div class="date-day">{{calendarEvent.StartDay}}</div>
                    <div class="date-year">{{calendarEvent.StartYear}}</div>
                    <div class="date-hour">{{calendarEvent.StartTime}}</div>
                </div>
            </div>
            <div v-if="calendarEvent.Attachments.length > 0"><img :src="calendarEvent.Attachments[0].fileUrl" /></div>
        </div>

    </div>
</calendar-block-vue>
</div> @*This doesn't match to anything but it's required to run... there's a problem somewhere else*@