@model Catfish.Models.Blocks.ContactFormBlock
@{
    ViewBag.Title = "Contact Form";
   
    string recipient = Model.SendTo;
    string subject = Model.Subject;
   
}
   
   
    <div class="contactForm">
        <form id="contact-form" method="post" onsubmit="return false">
            <div style="display:none;" id="subject-value">@subject</div>
            <div style="display:none;" id="recipient-value">@recipient</div>
            <table class="cf-email">
                <tr></tr>
                <tr><td>Name: <span class="mandatory">*</span></td><td><input type="text" name="cf-name" class="form-control" required /></td></tr>
                <tr><td>Email: <span class="mandatory">*</span></td><td> <input type="email" name="cf-email" class="form-control" required /></td></tr>
                <tr><td>Message:<span class="mandatory">*</span> </td><td><textarea name="cf-body" cols="50" rows="5" class="form-control" required></textarea></td></tr>
                <tr><td> <span class="mandatory">*mandatory</span></td><td style="text-align:right;"> <input type="submit" value="Send Email" name="cf-sendBtn" class="btn btn-primary" /></td></tr>
            </table>

        </form>
    </div>