@model Catfish.Models.Blocks.EmbedBlock
@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = "Embedblock";  
}

<div>
    @Html.Raw(new HtmlString(Model.Embed.Value.Replace("&lt;", "<").Replace("&gt;", ">")))
</div>

