@model Catfish.Models.Blocks.FreeSearchBlock

@using Catfish.Services;

@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;

@using Catfish.Core.Models.Contents.Fields
@using Catfish.Core.Models.Solr;
@using Catfish.Core.Services.Solr;
@using Catfish.Pages;
@*@using System.net.HttpUtility;
@using System.Web.Serialization;*@
@using System.Text.Json;



<script>
    $(function () {
        $("#freeSearchBlockForm").submit(function (event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get the action attribute from the <form action=""> element */
            var $form = $(this),
                url = $form.attr('action');

            /* Send the data using post with element id name and name2*/
            var posting = $.post(url, {
                searchTerm: $('#freeSearchBlockTerm').val()
            });

            /* Alerts the results */
            posting.done(function (data) {
                //TODO: Check the content of the data to understand it.
                //Iterate throgh the list of results and add them as new elements to the search-result div

                var content = $(data).find(#content);

                //TODO: assign the list retrieved from data here
               // $(freeSearchBlockResults).append(content);

     
                // for each entry in resultEntries
                // create a div that contains the entry title and the list of highlighted snippets as shown in
                //the example. Insert it to the following element.


                $('#freeSearchBlockResults')
            });

            posting.fail(function () {
                alert('The search failed!');
            });
        });
    });
</script>


<!-- TODO: Make the following a search form -->
<form id="freeSearchBlockForm" method="post" action="/api/search/freetext">
    <input type="text" name="freeSearchBlockTerm" id="freeSearchBlockTerm" />
    <input id="freeSearchBlockButton" type="submit" value="Submit" />
</form>

<div id="freeSearchBlockResults">
    <div>
        Results:

    </div>
    <div>
    @*@{
        var results = HttpUtility.HtmlDecode(jsonString);
        JavaScriptSerializer json_serializer = new JavaScriptSerializer();
        SolrEntry csharpObject = (SolrEntry)json_serializer.Deserialize<SolrEntry>(freeSearchBlockResults);
    }*@
    </div>
    <!-- sample for one of the search result entries. When the code is implemented, remove this and rather
        populate this section by creating new entries with simialr structure.
     -->

    <div class="search-resultentry">
        <div class="entry-title">Title of the enrty from the seach result</div>
        <div class="entry-body">Content of the entry body, which is the list of highlight snippets</div>
    </div>

</div>


