@model CatfishWebExtensions.Models.Blocks.CarouselSlide

@{
    var url = Model.Image.Media.PublicUrl;
    var content = Model.Content.Value;
    if (url.StartsWith("~"))
    {
        url = url.Substring(1);
    }
    int? index = ViewData["index"] as int?;
    string isActive = index == 0 ? "active" : "";
}
<div class="carousel-item @isActive">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-5">
            <div class="stdImg" style="background-image: url(@url)"></div>
        </div>
        <div class="col-xs-12 col-md-7 article-desc">
         @Html.Raw(content)
        </div>
    </div>
</div>
<style>
.stdImg {
    height: 300px;
    width: 300px;
    -moz-border-radius: 300px/300px;
    -webkit-border-radius: 300px 300px;
    border-radius: 300px/300px;
    border: 1px solid White;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
</style>