@model Catfish.Core.Models.Contents.Text

<div id="@Model.Id" class="inline-editor">
    <i class="far fa-edit float-right"></i>
    <span class="view">@Html.Raw(Model.Value)</span>
    <span class="editor"></span>
    
</div>
