@model CatfishWebExtensions.Models.Sites.Footers.DefaultFooter

@{
    var upperFooter = Model.UpperFooter;
    var logo = Model.Logo.Media.PublicUrl;
    var footerTitle = Model.FooterTitle;
    var copyright = Model.Copyright;
    if (logo.StartsWith("~"))
    {
        logo = logo.Substring(1);
    }
}
<div class="upper-footer">
    @Html.Raw(upperFooter)
</div>
<div class="lower-footer row">
    <div class="col-sm-4">
        @copyright
    </div>
    <div class="col-sm-8">
       <img src=@logo class="site-logo"><span class="site-logo">@footerTitle</span> 
    </div>
</div>
<style>
    .upper-footer{
    background-color: #333;
    color: #fff;
    padding: 5px 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
    }
    .lower-footer {
    background-color: #111;
    color: #fff;
    padding: 10px 44px;
    position: absolute;
    left: 15px;
    right: 15px;
    border-top: 1px solid #fff;
}
.site-logo{
    float:right;
    padding: 1px;
}
.foot-section-title{
color: #ffce2f;
    margin: 0px;
}
.footer-links{
    color: #fff;
    text-decoration: none;
}
.footer-links:hover{
    color: #fff;
    text-decoration: none;
    cursor:pointer;  
}
</style>