@model CatfishWebExtensions.Models.Sites.Footers.DefaultFooter

@{
    var upperFooter = Model?.UpperFooter;
    var logo = Model?.Logo?.Media?.PublicUrl;
    var footerTitle = Model?.FooterTitle;
    var copyright = Model?.Copyright;
    if (!string.IsNullOrEmpty(logo) && logo.StartsWith("~"))
    {
        logo = logo.Substring(1);
    }
}
<div class="container">
    <div class="upper-footer">
        @if(upperFooter != null)
        {
            @Html.Raw(upperFooter)
        }
    
    </div>
    <div class="lower-footer row">
        @if(footerTitle != null)
        {
        <div class="col-sm-8">
            @copyright
        </div>
        <div class="col-sm-4">
            <img src=@logo class="site-logo"><span class="site-logo">@footerTitle</span> 
        </div>
        }
    
    </div>
</div>
