@model CatfishWebExtensions.Models.Blocks.Card

<div class="card">
  <div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <p class="card-text">@Html.Raw(Model.Content)</p>
  </div>
</div>