@model CatfishWebExtensions.Blocks.Carousel
@using CatfishWebExtensions.Blocks;
@using CatfishExtensions.Interfaces;

@inject ICatfishAppConfiguration _catfishConfiguration;

@{
    var css_classes = Model.CssClasses.Value;
}
<div class="carousel @css_classes" id="accordion-@Model.Id">
    Test page
    @foreach(var item in Model.Items)
    {
        if(item is CarouselSlide)
        {
            var slide = item as CarouselSlide;
           // slide.
        }

    }
</div>