@page "~/discussion/{id:Guid}"
@model Catfish.Pages.DiscussionModel
@{
    ViewData["Title"] = "Discussion";
}
@{
    //var title = Model.Title;
    

    //var subtitle = Model.Subtitle;
    string successMessage = "";//string.IsNullOrEmpty(Model.SubmissionConfirmation.Value.ToString()) ? "" : Model.SubmissionConfirmation.Value.ToString();
}

    <div class="container item-details-view">
        <h1>@Model.Tile.Title</h1>
        <h6>@Model.Tile.Subtitle</h6>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="@Url.Content(Model.Tile.Thumbnail)" alt="Image" style="height:100px;width:100px;" />
                </div>
                <div class="col-sm-10">
                    <p>@Model.Tile.Content</p>
                </div>
            </div>
        </div>
    </div>
