@page "~/entity/ItemList"
@model Catfish.Pages.EntityListPageModel
@{
    ViewData["Title"] = "EntityListPage";
}

<h1>Item List</h1>

<div class="container">
    @foreach (var items in Model.ItemList)
    {
        var edit = "/entity/edit/" + items.Id;
        var view = "/entity/detail/" + items.Id;
    <div>
        @items.Id | <a href="@view">View</a> |  <a href="@edit">Edit</a>
    </div>
    }
</div>