@page "~/entity/ItemList"
@model Catfish.Pages.EntityListPageModel
@{
    ViewData["Title"] = "EntityListPage";
}

<h1>Item List</h1>

<div class="container">
    @foreach (var items in Model.ItemList)
    {
        var url = "/entity/edit/" + items.Id;
        <div>
            <a href="@url">@items.Id</a>
        </div>
    }
</div>