

@page "~/entity/detail/{id:Guid}"
@model Catfish.Pages.EntityDetailsPageModel

@section head
{
    <script type="text/javascript" src="@Url.Content("~/assets/js/form.js")"></script>
}

@{
    ViewData["Title"] = "DetailDataItem";
}

<h1>Detail Data Item</h1>
<h3>@Model.Item.Name.GetConcatenatedContent("")</h3>


<form method="post">
    @Html.HiddenFor(model => model.ItemId)

    <div class="container">
        @Html.DisplayFor(model => model.Item, Model.Item.GetType().ToString())

        <input name="Save" type="submit" value="Save" />
        <input name="Subit" type="submit" value="Submit" />
    </div>
</form>

