@page
@model Catfish.Pages.ForgotPasswordPageModel

@{

    ViewBag.Title = "Forgot Password";
   
  
    Layout = "..\\Views\\Shared\\_Layout";
}


<div class="container">

    <h3>Forgot Password?</h3>
    <br />
    <div>Please enter your email address below, a new password will be send to your email address.</div>
    <br />
    <form method="post">

        <div class="row form-group">
            <label style="padding-left:14px">  Email:&nbsp; </label>
            @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control col-md-6 " })
        </div>
        <input type="submit" name="sendPassBtn" value="Send Password" class="btn btn-primary" style="margin-bottom:20px;" />
    </form>

    @if(!string.IsNullOrEmpty(Model.ErrorMessage)){
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
    }
</div>
