@page "/items/{id:Guid}"
@model Catfish.Pages.ItemDetailsModel
@using Catfish.Models.Blocks
@{
    var item = Model.Item;

    var rootDataItem = item.GetRootDataItem(false);


}

@*Specify the status of the submission, followed by the last updated date*@

@*Display the content of the main submission (i.e. the data-item with is-root=true) *@


@*
    Display the contents of all associated data items, which are identified by is-rro=false.

*@
@{
    var associatedItems = item.DataContainer
        .Where(di => di.IsRoot = false)
        .OrderByDescending(di => di.Created)
        .ToList();
}

<div class="container">
    <h2 class="item-heading">@Html.DisplayFor(model => rootDataItem.Name, rootDataItem.Name.GetType().ToString())</h2>

    <div class="submission-form-block">
        @Html.DisplayFor(model => rootDataItem, rootDataItem.GetType().ToString())
    </div>

    @*Display each associated item in a separate element like a bootstrap panel.*@




</div>
