@page
@model Catfish.Pages.SearchModel

<h1>Search</h1>

<!-- TODO: Make the following a search form -->
<form method="post">
    @Html.TextBoxFor(m => m.SearchTerm)
    <input type="submit" value="Submit" />

</form>
<ul>
    @{
        foreach (var entry in Model.Results)
        {
            <li>@entry.EntityGuid</li>
        }
    }
</ul>
