@page "~/new"
@model Catfish.Pages.StartPageModel

@{
    ViewData["Title"] = "Start Page";
}

<h1>Start Page</h1>

<div class="container">
    @foreach (var template in Model.ItemTemplates)
    {
        var url = "/entity/create/" + template.Id;
        var startupDataItem = template.GetRootDataItem(false);
        <div class="row">
            <div class="form-title col-lg-12">@startupDataItem.Name.GetConcatenatedContent("<br />")</div>
            <div class="form-description">@startupDataItem.Description.GetConcatenatedContent("<br />")</div>
            <div class="form-link">
                <a href="@url">Start now</a>
            </div>
        </div>
    }
</div>

