@page  "~/templates"
@model Catfish.Pages.TemplateList
@{
}

<div class="main">
    <div class="container">
        <h2>Item Templates</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{ int index = 0; }
                @foreach (var template in Model.ItemTemplates)
                {
                    ++index;
                    <tr>
                        <th scope="row">@index</th>
                        <td>@template.Name</td>
                        <td><a a href="@string.Format("/templates/edit/{0}", template.Id)"> Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        @*<h2>Collection Templates</h2>*@
    </div>
</div>