@model Catfish.Core.Models.Forms.FormField
@using Catfish.Areas.Manager.Helpers;

<div class="box">
    <div class="title"><h4>@Html.Raw(Model.Name)</h4></div>
    <div class="inner">
        <p><strong>Type:</strong> @Html.TypeLabelFor(m => m) </p>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p><strong>Description:</strong> @Html.Raw(Model.Description)</p>
        }
    </div>
</div>
