@model Catfish.Core.Models.Contents.MultilingualValue

<div class="multilingual-input-block">
    @Html.HiddenFor(model => model.ModelType)
    @for (int i = 0; i < Model.Values.Count; ++i)
    {
        @Html.HiddenFor(model => model.Values[i].Language)
        if (Model.Values.Count > 1)
        {
            @Html.Label(Model.Values[i].Language)<span>: </span>
        }
        @Html.EditorFor(model => model.Values[i].Value)
    }
</div>