<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="piranha" connectionString="data source=.\sqlexpress2008R2;initial catalog=Lexigraphica;user id=gwrit1;password=gwrit#db;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>