@page "/test"
@model CatfishWebExtensions.Pages.ApiProxyTextModel
@{
}

<div class="alert alert-info">
    <h3>JWT</h3>
    @Html.Raw(Model.Jwt)
</div>


<div class="alert alert-info">
    <h3>Tenants</h3>
    @Html.Raw(Model.Tenants)
</div>




