@page "~/manager/items"

@{
    ViewBag.Title = "Items";
    ViewBag.MenuItem = "CatfishWebExtensionsItems";
}

<div id="CatfishWebExtensions">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Data</li>
                <li class="breadcrumb-item active" aria-current="page">Items</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                <button class="btn btn-icon btn-info">
                    <i class="fas fa-cog"></i>
                </button>
                <button class="btn btn-labeled btn-primary">
                    <i class="fas fa-plus"></i>Item
                </button>
            </div>
        </div>
    </div>
</div>
