@model Catfish.Models.Regions.FacebookTimeline

@{ 
    ViewBag.Tile = "Facebook timeline";
    int width = Model.Width == null ? 300 : Convert.ToInt32(Model.Width.Value);
    int height = Model.Height == null ? 400 : Convert.ToInt32(Model.Height.Value);


    string fbUrl = "https://www.facebook.com/plugins/page.php?href=" + Model.FacebookUrl.Value + "&tabs=timeline&width=" + width + "&height=" + height + "&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId";
}

<div class="fbtimeline container container-fluid">
    <h4>@Model.Title</h4>
   
    <iframe src="@fbUrl" width="@width" height="@height" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>

<style>
    .fbtimeline{
        margin-top:15px;
    }
</style>