@model Catfish.Models.Regions.SearchResults

<ul class="form">
    <li>
        @Html.LabelFor(m => m.SearchResultTemplate)
        @Html.EditorFor(m => m.SearchResultTemplate)
    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>

