@model Catfish.Models.Regions.SearchResults

<ul class="form">
    <li>
        @Html.LabelFor(m => m.SearchResultTemplate)
        <div class="input">@Html.EditorFor(m => m.SearchResultTemplate)</div>
    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>

