@model Catfish.Models.Widgets.SiteHeader

<ul class="form">
    <li>
        @Html.LabelFor(m => m.Logo)
        <div class="input">@Html.TextBoxFor(m => m.Logo)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Tagline)
        <div class="input">@Html.TextBoxFor(m => m.Tagline)</div>
    </li>
</ul>
