body {
}

.requiredField:after {
    content: " *";
    color: red;
}

.required{
    font-weight: bold;
}

.required:after {
        color: #e32;
        content: ' *';
        display: inline;
}
/*Google calendar panel*/

.calendar-default .calendar-event-dates {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.calendar-event {
    padding: 8px !important;
}

.date-month {
    font-size: 0.9em;
    text-transform: uppercase;
}

.date-day {
    font-size: 1.8em;
}

.date-year {
    font-size: 0.8em;
}

.date-time {
    line-height: initial;
    width: 80px;
}
/*.calendar-default .date-time {
    float: left;
}

.calendar-default .date-separator {
    float: left;
    margin-top: 20px;
    padding: 10px;
}*/

/* Extended Gallery carousel*/
.extended-gallery-block .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

.extended-gallery-block .carousel-indicators > li {
        width: initial;
        height: initial;
        text-indent: initial;
        border: 1px solid Green;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
 }
.extended-gallery-block .carousel-indicators > li.active img {
            opacity: 0.7;
}

.olOval {
    border: 1px solid Blue;
    position: static;
    left: initial;
    margin-left: initial;
    width: initial;
    height: 30px;
    /* z-index: 20; */
    border-radius: 25px;
    margin-top: 5px;
    vertical-align: middle;
    padding-top: 2px;
    background-color: darkblue;
    align-content: flex-end;
}

.carouselPauseBtn, .carouselPlayBtn {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid green;
    border-radius: 25px;
    padding-top: 6px;
    margin-left: -130px;
    margin-top: 4px;
}
.indicatorDiv{
    background-color: antiquewhite;
    width:100%;
    height:40px;
}
.EGTitle-font-size {
    font-size: 3em;
}
.EGTitle {
    height: auto !important;
    width: 100%;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgba(10, 176, 242,1) 50%, white 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, blue 50%, white 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, blue 50%, white 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #FABC3C 70%, transparent 30%); /* Standard syntax */
}
.EGDescription{
}
.EGLink{
    width:100%;
    text-align:center;
}
.EGLinkBtn{
    border-radius:25px;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    background: rgb(2,0,10, 0.15);
    /*background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0) 79%, rgba(0,0,0,0.14891894257703087) 100%);*/
}

.carousel-control-next, .carousel-control-prev {
    transition: background 0.5s !important;
}

/* end of extended Gallery block*/

.box-shadow {
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
}

/* column Block*/
 .CBflex-container {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    justify-content: center;
}

.CBflex-parent {
    padding-bottom: 30px;
}

.CBflex-item {
    /* display: flex;
    align-self: center;*/
    /*flex: 1 0 25%;*/ /* ==Flex-grow 1 flex-shrink0 flex-basis30% == 3 column + margin */
    /*width: 25%;
    max-width: 25%;*/
    /*  align-self: center;
    align-items: center;*/
    box-shadow: 0px 3px 10px rgba(0,0,0,.5);
    /*margin:30px;*/
    width:100%;
    height:100%;
    background-color:white;
}

.extendedMediaPicker{
    top:10% !important;
}

/* Submission Form Bloc */
.submission-result-message{
    margin-top: 15px;
}


/********* Vue Carousel styles ********/

.carousel-inner{
    height:inherit;
}
.carousel-item{
    height:inherit;
}

.carousel-item .flex-carousel-contents{
    display:flex !important;
    flex-wrap: wrap-reverse;
    height:inherit;
}

.carousel-item .image-comes-second {
    flex-direction: row-reverse;
}

.d-block.image-in-carousel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink:0;
}

.carousel-inner .text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 25px;
    align-items: flex-start;
}

.time-grow {
    transition: width 5s linear;
}

.progress {
    height: 3px;
    width:100%;
}

/*Contact form styling*/
.mandatory {
    font-weight: bold;
    color: red;
    padding-right: 5px;
    margin-right: 5px;
}

/* Styling for ItemListBlock2 */
#itemListBlockTable {
    margin-top: 15px;
}


/* Advance Search Block*/

.advanced-search .search-field {
    margin: 10px 0;
    /*border: solid 1px blue;*/
}


/* Carousel: Overrides the user's set width when the screen is narrow, for mobile devices */
@media screen and (max-width: 991px) {
    .image-in-carousel {
        width: 100% !important;
    }
}