/*@import url("componentStyles.css");*/

/*
#1846A0 -- dark blue
#9DEBF4 -- lighter blue
#40C6DD -- med blue /green
#FABC3C - yellow
#F05D52 -- arc red
*/
:root {
    --yellow-color: #FABC3C;
    --darkBlue-color: #1846A0;
    --medBlue-color: #40C6DD;
    --lightBlue-color: #9DEBF4;
}

body {
    background: rgb(245,241,243);
    background: radial-gradient(circle, rgba(245,241,243,1) 54%, rgba(230,233,237,0.3) 100%);
    // font-family: "seravek Basic";
}

.yellowBG {
    background-color: var(--yellow-color); /*#FABC3C;*/
    color: Black;
    height:6px;
}

.lightBlueBG {
    background-color: var(--lightBlue-color); /*#9DEBF4;*/
}

.darkBlueBG {
    background-color: var(--darkBlue-color); /*#1846A0;*/
    color: #fff;
}

.mediumBlueBG {
    background-color: var(--medBlue-color); /*#40C6DD;*/
}

.mediumBlueBorder {
    border: 1px solid #40C6DD;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yellowSeparator {
    border: 3px solid var(--yellow-color);
    height: 3px;
    /*margin-top:10px;
	margin-bottom:10px;*/
}

.greyBG {
    background: rgb(245,241,243);
    background: radial-gradient(circle, rgba(245,241,243,1) 54%, rgba(230,233,237,0.3) 100%);
    /*margin:50px;
	padding:50px;*/
}

.pattern1BG {
    background-image: url("/uploads/7f8c04d2-d1a7-419d-b520-e3acdacf7512-4105280.jpg");
    height: 500px;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 150px; /*vertical middle */
    background-repeat: repeat-x;
    background-position: initial;
    background-size: 50%;
}

    .pattern1BG > h1 {
        font-size: 4em;
        font-weight: Bold;
    }

    .pattern1BG > h2 {
        font-size: 2.3em;
        margin-left: 150px;
    }

.darkBlueBG > H1, H2, h3 {
    margin: 0;
}

/*Highlights section */
.darkBlueBG > h2 {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.darkBlueBG > p {
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom:0;
}

.page-body h1 {
    margin: 0 !important;
}

.textAlignMiddle {
    text-align: center;
    align-items: center;
}

.widthFitContent {
    width: fit-content;
}

.headerContainer {
    height: 125px;
    background-color: #1846A0; /*dark blue */
    padding: 20px;
}

header {
    height: 50px;
    background-color: #1846A0; /*dark blue */
}

    header.site-header.site-header-dark .nav-site .active a {
        color: White !important;
    }

.navbarContainer {
    margin-top: -30px;
}

header {
    border-bottom: 5px solid #40C6DD; /* med blue */
}

.search-panel {
    display: none;
}

/*#arcLogo {
    width: 90px;
    padding-right: 15px;
}*/

#site-logo {
    /*site logo
    background-image: url("../../uploads/f27e4c34-78c8-4f71-936c-89c0f396f1c9-UA-COLOUR.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
    background-size:300px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: auto;*/
}

header.site-header.site-header-dark .nav-site a {
    color: #fff !important;
}

.dropdown-menu {
    background-color: var(--medBlue-color);
}

.page-body > h1 {
    display: none;
}

/* catpusel */
.extended-gallery-block {
    margin-top: -48px;
}

.extended-gallery-block, .indicatorDiv {
    background-color: #9DEBF4;
    margin-left: -15px;
    margin-right: -15px;
}

.extended-gallery-block {
    padding: 20px;
}

    .extended-gallery-block > .carousel-inner > .carousel-item, .carousel-indicators > li {
        background-color: #fff;
    }

        .extended-gallery-block > .carousel-inner > .active, .carousel-indicators > li.active {
            background-color: #9DEBF4;
        }

.btn-lightBlue {
    background-color: var(--lightBlue-color);
    color: #fff;
    border-radius: 10px;
}

.btn-medBlue {
    background-color: var(--medBlue-color);
    color: #fff;
    border-radius: 10px;
}

.borderImg {
    border: 1px solid lightGrey;
}

.width63 {
    width: 63%;
}

.negativeMarginRight {
    margin-right: -15px;
}

.negativeMarginLeft {
    margin-left: -15px;
}

.negativeMarginTop {
    margin-top: 0px; /*-60px;*/
}

.description {
    padding-bottom: 30px;
}

footer > .container > .row {
    color: white;
    background-color: #1846A0;
}

.footer-arc-text {
    height: 300px;
    line-height: 15px;
    padding: 15px;
}

    .footer-arc-text img {
        padding-left: 15px;
        padding-right: 15px;
        width: 110px;
    }

.footer-arc-logo {
    text-align: right;
    padding: 5px;
}

    .footer-arc-logo > img {
        width: 40px;
        height: 40px;
    }

/* Image gallery carousel */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.thumb-list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

.sideMenu .nav-item {
    border: 1px solid var(--medBlue-color);
    margin-bottom: 10px;
    padding: 10px;
}

    .sideMenu .nav-item:hover {
        background-color: var(--medBlue-color);
        color: White;
        width: 100%;
    }

    .sideMenu .nav-item a {
        color: var(--medBlue-color);
    }

        .sideMenu .nav-item a > span {
            padding-right: 5px;
        }

        .sideMenu .nav-item a:hover {
            border: 1px solid var(--medBlue-color);
            background-color: var(--medBlue-color);
            color: White;
        }

.padding10 {
    padding: 10px;
}

.paddingTopBottom15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.marginRight10 {
    margin-right: 10px;
}

.blueHr {
    border-top: 1px solid var(--darkBlue-color);
}

.teamMember {
    border-radius: 50%;
}

    .teamMember > img {
        border-radius: inherit;
        width: 250px;
        height: 250px;
    }

.teamMemberDescription h3 {
    color: #000;
}

.extended-gallery-block { /*.carousel-inner, .carousel-item, .carousel-item > .row*/
    background-color: var(--lightBlue-color);
}

/* ARC Logo in header */
.header-brand{
    padding-left: 25px;
    padding-top: 25px;
}

/* Remove padding in between section in Highlights columns */
.remove-padding-in-highlights{
    padding-left: 0;
    padding-right: 0;
}

.added-height{
    height:470px;
}

.blue-line-height {
    height: 16px;
}

/*Triangle in Highlights section*/
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #9DEBF4;
    margin-left: 35px;
}

.section-contents {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 0px;
}

.section-contents li {
    padding-bottom: 15px;
}

@media screen and (max-width: 1100px) {
    .EGTitle {
        /* font-size:1.6em;*/
    }
}
