/********* Stuff for Footer CSS Section *************/
/********* Click on your website name in 'Pages' and go into the Footer tab and paste the below into the CSS textarea *************/
/********* Try not to put this stuff in individual page CSS blocks *************/

.footer-arc-text {
    height: unset;
    line-height: unset;
    padding: 15px;
}

    .footer-arc-text img {
        width: inherit;
    }

@media screen and (max-width: 767px) {
    .footer-arc-text .col-md-4 {
        max-width: 65%;
        padding-bottom: 8px;
    }
}
/********* END of Stuff for Footer CSS Section *************/
