/*@import url("componentStyles.css");*/

/*
#1846A0 -- dark blue
#9DEBF4 -- lighter blue
#40C6DD -- med blue /green
#FABC3C - yellow
#F05D52 -- arc red

Grey radial effect
    background: rgb(245,241,243);
    background: radial-gradient(circle, rgba(245,241,243,1) 54%, rgba(230,233,237,0.3) 100%);
*/
:root {
    --yellow-color: #FABC3C;
    --darkBlue-color: #1846A0;
    --medBlue-color: #40C6DD;
    --lightBlue-color: #9DEBF4;
}

body {
    background-color: #dedede;
    // font-family: "seravek Basic";
}

.main{
    margin: 0;
}

#blocks .vue-carousel, #blocks .highlights-text-container, .grey-bg {
    background: rgb(245,241,243);
}

.yellowBG {
    background-color: var(--yellow-color); /*#FABC3C;*/
    color: Black;
    height:6px;
}

.lightBlueBG {
    background-color: var(--lightBlue-color); /*#9DEBF4;*/
}

.darkBlueBG {
    background-color: var(--darkBlue-color); /*#1846A0;*/
    color: #fff;
}

.mediumBlueBG {
    background-color: var(--medBlue-color); /*#40C6DD;*/
}

.mediumBlueBorder {
    border: 1px solid #40C6DD;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yellowSeparator {
    border: 3px solid var(--yellow-color);
    height: 3px;
    /*margin-top:10px;
	margin-bottom:10px;*/
}

.greyBG {
    background: rgb(245,241,243);
    background: radial-gradient(circle, rgba(245,241,243,1) 54%, rgba(230,233,237,0.3) 100%);
    /*margin:50px;
	padding:50px;*/
}

.pattern1BG {
    background-image: url(/uploads/network-image.jpg);
    height: 450px;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-position: center 39%;
    background-size: cover;
}

.long-button {
    width: 70%;
    min-width: 300px;
}

.medium-button {
    width: 50%;
    min-width: 180px;
}

.img-text-container{
    width:100%;
}

.img-text-container > h1 {
    font-size: 4em;
    font-weight: Bold;
}

.img-text-container > h2 {
    font-size: 2.3em;
    /*margin-left: 150px;*/
}

.darkBlueBG > H1, H2, h3 {
    margin: 0;
}

/*Highlights section */
    .darkBlueBG > h2 {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.darkBlueBG > p {
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom:0;
}

.page-body h1 {
    margin: 0 !important;
}

.textAlignMiddle {
    text-align: center;
    align-items: center;
}

.highlights-text {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

.widthFitContent {
    width: fit-content;
}

/*#arcLogo {
    width: 90px;
    padding-right: 15px;
}*/

#site-logo {
    /*site logo
    background-image: url("../../uploads/f27e4c34-78c8-4f71-936c-89c0f396f1c9-UA-COLOUR.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
    background-size:300px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: auto;*/
}

.dropdown-menu {
    background-color: var(--medBlue-color);
}

.page-body > h1 {
    display: none;
}

/* catpusel */
.extended-gallery-block {
    margin-top: -48px;
}

.extended-gallery-block, .indicatorDiv {
    background-color: #9DEBF4;
    margin-left: -15px;
    margin-right: -15px;
}

.extended-gallery-block, .s-work-page {
    padding: 20px;
}

.extended-gallery-block > .carousel-inner > .carousel-item, .carousel-indicators > li {
    background-color: #fff;
}

.extended-gallery-block > .carousel-inner > .active, .carousel-indicators > li.active {
    background-color: #9DEBF4;
}

.btn-lightBlue {
    background-color: var(--lightBlue-color);
    color: #fff;
    border-radius: 10px;
}

.btn-medBlue {
    background-color: var(--medBlue-color);
    color: #fff;
    border-radius: 10px;
}

.borderImg {
    border: 1px solid lightGrey;
}

.width63 {
    width: 63%;
}

.negativeMarginRight {
    margin-right: -15px;
}

.negativeMarginLeft {
    margin-left: -15px;
}

.negativeMarginTop {
    margin-top: 0px; /*-60px;*/
}

.description {
    padding-bottom: 30px;
}

/* Image gallery carousel */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.thumb-list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

.sideMenu .nav-item {
    border: 1px solid var(--medBlue-color);
    margin-bottom: 10px;
    padding: 10px;
}

    .sideMenu .nav-item:hover {
        background-color: var(--medBlue-color);
        color: White;
        width: 100%;
    }

    .sideMenu .nav-item a {
        color: var(--medBlue-color);
    }

        .sideMenu .nav-item a > span {
            padding-right: 5px;
        }

        .sideMenu .nav-item a:hover {
            border: 1px solid var(--medBlue-color);
            background-color: var(--medBlue-color);
            color: White;
        }

.padding10 {
    padding: 10px;
}

.paddingTopBottom15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.marginRight10 {
    margin-right: 10px;
}

.add-full-flexbox{
    display:flex;
    width:100%;
}

.keywords-search-block{
    flex:1;
}

.search-section{
    flex:2;
    display:flex;
    flex-direction: column;
}

.search-header-holder {
    border-bottom: solid var(--darkBlue-color) 3px;
    width: 100%;
    display: block;
    padding-top: 0px !important;
}

.block-title {
    border-bottom: solid 3px var(--yellow-color);
    padding-bottom: 0px !important;
}

.box-shadow {
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
}

.no-box-shadow{
    box-shadow: none;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Useful so that items width stretches 100% */
.flex-column-no-align {
    display: flex;
    flex-direction: column;
}

.image-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid #dedede;
    border-radius: 50%;
    overflow: hidden;
    padding: 30px;
}

.image-circle {
    height: auto;
    /*width: 100%;*/
    max-width:unset !important;
}

.team-text-container {
    padding-top: 10px;
}

.blueHr {
    border-top: 1px solid var(--darkBlue-color);
    width: 90%;
}

.teamMember {
    border-radius: 50%;
}

    .teamMember > img {
        border-radius: inherit;
        width: 250px;
        height: 250px;
    }

.search-result-container {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding: 1em;
    height: 100%;
    background-color: #dedede;
}

.teamMemberDescription h3 {
    color: #000;
}

.extended-gallery-block { /*.carousel-inner, .carousel-item, .carousel-item > .row*/
    background-color: var(--lightBlue-color);
}

/******** Specific work page stuff ***********/

.our-features-container {
    border: solid #dedede 1px;
    text-align: center;
    height: unset;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

    .our-features-container > * {
        width: 100%;
        padding: 10px;
    }

    .our-features-container > h2 {
        background-color: var(--darkBlue-color);
        color: white;
    }

h4 > a:hover {
    text-decoration: none;
}

.our-features-container > h4 {
    margin-bottom: 0;
}

.work-header-container {
    padding-top: 30px;
}

.work-header {
    padding-left: 20px;
    padding-right: 20px;
    line-height: normal;
}

/******** END of Specific work page stuff ***********/

/*****************************************************************************************/

/******** Highlights Section Stuff *********/

/* Remove padding in between section in Highlights columns */
.remove-padding-in-highlights{
    padding-left: 0;
    padding-right: 0;
}

.remove-bottom-padding{
    padding-bottom: 0;
}

.added-height{
    height:470px;
}

.blue-line-height {
    height: 16px;
}

/*Triangle in Highlights section*/
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #9DEBF4;
    margin-left: 35px;
}

.section-contents {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 0px;
}

.section-contents li {
    padding-bottom: 15px;
}

.section-contents-work {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    align-items:center;
}

.work-text-width {
    max-width: 80%;
}

.section-header-style {
    width: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: solid var(--yellow-color) 6px;
}

fieldset.checkboxgroup{
    margin-top: 1.25em;
}

#controlledVocabularySearchForm {
    min-height: 500px;
}

.category-button {
    margin-top: 4px;
    margin-bottom: 4px;
}

.pattern1BG + .columnBlock {
    padding-top: 30px;
    background-color: var(--lightBlue-color);
}

/******** END of Highlights Section Stuff *********/

/*****************************************************************************************/

.space-above{
    margin-top: 15px;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.text-indent{
    text-indent: 30px;
}

.contact-us-column, .white-background {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    background-color: white;
}

.white-background-only{
    background-color:white;
}

@media screen and (max-width: 1200px) {
    h1.title-text.EGTitle {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    .image-circle-container{
        height: 275px;
        width: 275px;
    }
}

@media screen and (max-width: 991px){
    .img-text-container > h1{
        font-size: 3em;
    }

    .img-text-container > h2 {
        font-size: 2em;
    }
    .image-circle-container {
        height: 205px;
        width: 205px;
    }
}

@media screen and (max-width: 768px){

}