:root {
    --dark-green-color: #284e36;
    --blue-color: #6774b6;
    --light-green-color: #92c178;
    --gold-color: #dfc184;
    --grey-color: #dedbe2;
}

.items-column {
    background-color: var(--grey-color);
}

.single-list-item{
    border: unset;
}