/* css for Resounding Culture */

/* global RC colours. RCwhite used as general background white*/
:root {
    --RCnavy: #233e98;
    --RCpink: #f1a4c7;
    --RCblue: #7ac5c7;
    --RCwhite: #f9f9fa;
}

body {
    background-color: var(--RCwhite);
    font-family: "Times New Roman", Times, serif;
}}


/* no effect, so far this has to stay in the different page CSS, it is overridden */
#btnSignOut > span,
#entire-header > header > div > div > div.signinout > button:nth-child(1) > span,
#entire-header > div > div > div.header-brand > h3,
#vueApp > div.main > div > div > div > h1,
#entire-header > div > div > div.container > div > form > div > div > span > i,
#entire-header > div > div > div.container > div > form > div > div > span,
#entire-header > div > div > div.container > div > form > div > input,
#vueApp > footer > div > div {
    display: none
}

