.header-bg {
  background-size: cover;
  background-position: 50% 50%; }

header {
    padding: 1rem 0;
}

    header h1 + .lead {
        margin: 2rem 0;
    }

    header.site-header.site-header-dark {
        position: initial;
    }

        header.site-header.site-header-dark .nav-site a {
            color: #000;
        }

            header.site-header.site-header-dark .nav-site a:hover {
                color: #000;
            }

        header.site-header.site-header-dark .nav-site .active a {
            color: #000;
        }

    header.page-header {
        background-size: cover;
        background-position: 50% 50%;
    }

.main {
    margin: 3rem 0;
    min-height: 400px;
}

    .main img {
        max-width: 100%;
    }

.teasers {
    margin-bottom: 1rem;
}

    .teasers .teaser {
        margin-bottom: 2rem;
    }

.archive-item {
    padding-top: 3rem;
}

    .archive-item:first-child {
        padding-top: 0;
    }

    .archive-item a {
        font-weight: 500;
    }

.tag {
    white-space: nowrap;
}

.post-header img {
    margin-top: 2rem;
}

.post-header .tag {
    margin-right: 1rem;
}

.post-body {
    margin-top: 3rem;
}

.page-body h1 {
    margin-bottom: 3rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    color: #fff;
}

    header.site-header {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    header.page-header {
        padding-top: 6rem;
    }

        header.page-header img {
            border-radius: 80px;
            float: right;
        }

.nav-site li a {
    color: #fff;
    padding: 0;
    margin: 1em 1em;
    font-size: .9rem;
    text-transform: uppercase;
    transition: all ease-in-out .2s;
}

    .nav-site li a:hover {
        padding: .8em 0;
        color: #fff;
        transition: all ease-in-out .2s;
    }

        .nav-site li a:hover span {
            padding: .2em 1em;
            border-color: #fff;
            transition: all ease-in-out .2s;
        }

    .nav-site li a span {
        display: block;
        padding: 1em;
        border-color: transparent;
        border-style: solid;
        border-width: 1px 0;
        transition: all ease-in-out .2s;
    }

.nav-site li.active a {
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 5px #fff;
}

.header-bg.header-bg-empty a:hover span {
    border-color: #000;
}

.teasers .teaser .teaser-body {
    background: #f2f2f2;
    height: 100%;
    padding: 2rem;
}

    .teasers .teaser .teaser-body .teaser-subtitle {
        font-size: 0.75rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    .teasers .teaser .teaser-body h3 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .teasers .teaser .teaser-body p {
        font-size: 0.9rem;
    }

.archive-item h2 a {
    color: #000;
    transition: color ease-in-out .15s;
}

    .archive-item h2 a:hover {
        transition: color ease-in-out .15s;
    }

.post-header img {
    border: solid .3rem #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.control {
    font-weight: bold;
}

.field-row {
    margin: 15px;
}

.btn-add-value {
    margin-left: 15px;
}

/* Submission Listing Page Styles */
.form-title {
    font-size: 24px;
    font-weight: bold;
}

.form-description {
}

.form-link {
}

.page-part2 {
    background-color: lightgrey;
}

.page-box {
    padding: 20px;
    padding-bottom: 30px;
    background-color: #8c8c8c;
    border-width: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.item-box {
    padding: 20px;
    padding-bottom: 30px;
    background-color: white;
    border-color: black;
    border-width: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

header {
    color: #000;
}

.search-match {
    background-color: yellow;
}

.search-panel {
    float: right;
}

footer > .container > .row {
    color: white;
    background-color: black;
}

.footer-arc-text {
    height: 50px;
    line-height: 50px;
}

.footer-arc-logo {
    text-align: right;
    padding: 5px;
}

    .footer-arc-logo > img {
        width: 40px;
        height: 40px;
    }

/* Image gallery carousel */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.thumb-list-inline {
    white-space: nowrap;
    overflow-x: auto;
}


/* vocabulary search block */
ul.searchcheckbox {
    column-count: 2;
    column-gap: 2rem;
    list-style: none;
}

    ul.searchcheckbox li:hover,
    ul.searchcheckbox li.focus {
        background-color: lightblue;
        border: 1px lightgrey solid;
        width: 12em;
    }

    ul.searchcheckbox li {
        border: 5px transparent solid;
        display: inline-block;
        width: 12em;
    }

legend.searchcheckbox {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid grey;
    background-color: white;
    color: white;
}

fieldset.checkboxgroup {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0;
    padding: 1em;
    margin-bottom: 1.25em;
    background-color: white;
}

    fieldset.checkboxgroup legend {
        border: 1px solid black;
        /*   float: right;
        float: left;*/
        border-radius: 15px;
        text-align: center;
        /* text-align: left;*/
        margin: 10px;
        padding: 10px;
        /*margin-left: 20px;*/
        font-size: 100%;
        color: black;
    }

ul.checkboxgroup li {
    border: 5px transparent solid;
    display: inline-block;
    width: 12em;
}

.radio-option-label {
   /* margin-left: 8px; */
    margin-right: 20px;
}

/* composite Field*/
.composite-field-child {
    border: 1px solid lightGrey;
    padding: 15px;
    margin:15px;
}

/* Circular Buttons */
.btn-circle.btn-xm {
    width: 16px;
    height: 16px;
    /*margin: 5px;*/
    padding: 0px;
    border-radius: 8px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

/* Attachment Field Styles */
.file-container {
    margin-top: 15px;
}

.file-container .file-entry {
        width: 110px;
        height: 160px;
        /*border: 1px solid grey;*/
        border-radius: 5px;
        margin: 5px 5px 50px 5px;
    }

.file-container .file-entry .delete-btn {
            float: right;
            margin-right: 15px;
}

.file-container .file-entry .thumbnail {
            position: relative;
            width: 120px;
            height: 180px;
            margin: 0px;
            background-size: contain;
}
.file-container .file-entry .thumbnail .icon {
            width: 100px;
            height: 142px;
            margin: 0px;
            background-size: contain;
            background-repeat: no-repeat;
            text-align: right;
}

.file-container .file-entry .label, .file-container .file-entry .label-active {
            /*position: absolute;*/
            width: 100%;
            white-space: nowrap;
            margin: 5px;
 }

 .file-container .file-entry .label {
            bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
 }

 .file-container .file-entry .label-active {
            visibility: hidden;
            font-weight: bold;
 }

 .file-container .file-entry .label:hover ~ .label-active {
            visibility: visible;
 }


input[readonly] {
    background: #ddd;
    border: solid 1px #888;
}

/* compositeField */
.compositeFieldAddItem{
    float: left;
}
.compositeFieldAddItem > input[type="button"]{
    width:150px;
}

.composite-field .child {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-trash {
    color: red;
}

.radio-inline > div, td > div.radio-inline{
    display:inline;
}

.footer-row{
    background-color:#eee;
}
/* Adding some margin for workflow buttons that appear on the top-right
   corner of a detailed view of an item.
*/
.pull-right {
    margin: 10px;
}

.item-details-view h1, .form-view h2, .form-view h3 {
    margin-top: 20px;
}
.item-details-view h1 {
    font-size: 2rem;
    color: #2e2eaf;
}

.item-details-view h2 {
    font-size: 1.7rem;
}

.item-details-view h3 {
    font-size: 1.4rem;
}

.item-details-view h5 {
    font-size: 1.2rem;
}

.item-details-view .row {
    margin: 10px 0;
    border-bottom: solid 1px #eef;
}

.item-details-view .card.child-data-item {
    margin-bottom: 20px;
}

/* Form Validation */
.field-value label.error {
    margin-left: 5px;
    color: #dc3545 !important;
    font-weight: bold;
}


/*   MENU */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }

    /* MEGA MENU */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content .header {
        background: red;
        padding: 16px;
        color: white;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
}

.column a {
        float: none;
        color: black;
        padding: 16px;
        text-decoration: none;
        display: block;
        text-align: left;
 }

 .column a:hover {
            background-color: #ddd;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.d-md-flex{
    width:800px;
}

/* google font awesome multi color */
.fa-google {
    background: linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%, linear-gradient(to top left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%, linear-gradient(-40deg,transparent 53%,#ea4335 54%), linear-gradient( 45deg,transparent 46%,#4285f4 48%), #34a853;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size:xx-large;
}

/* to target safari 10.1+ only */

@media not all and (min-resolution:.001dpcm) {
    @media {
        .fa-google {
            background: url("/assets/images/Gbutton.png");
            width: 180px;
            height: 40px;
        }
    }
}




/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}