@inject Catfish.Helper.ICatfishAppConfiguration _catfishAppConfig
@using Catfish.Models.SiteTypes

@{
    var currentSite = await WebApp.Site.GetContentAsync<CatfishWebsite>();
}

<footer class="border-top footer text-muted">
    <div class="container">

        @if (currentSite != null)
        {
            var backgroundColor = currentSite.FooterContents.BackgroundColor.Value;
            var textColor = currentSite.FooterContents.TextColor.Value;
            <div class="row" style="background-color: @backgroundColor; color: @textColor;">

                <div class="col-6 footer-arc-text">
                    @Html.Raw(currentSite.FooterContents.Text)
                </div>
                <div class="col-6 footer-arc-logo">
                    Designed and engineered by <img src="@Url.Content(currentSite.FooterContents.Logo)" />
                </div>


            </div>
        }
    </div>
</footer>