@{
    ViewBag.Title = "Edit";
}



<script src="/node_modules/requirejs/require.js"></script>
<script type="text/javascript" src="/built/require-config.js"></script>

<script>
        var metadata = {
            'entityTypes': @Html.Raw(ViewBag.EntityTypes),
            'metadataSets': @Html.Raw(ViewBag.MetadataSets)
        }
</script>



<script>
    require(["/Built/Forms/ItemForm.js"])
</script>

<select data-bind="options: entityTypes, 
               optionsText: function(type) {
                return type.Name
                },
               value: selectedEntityType">
</select>

<ul data-bind="foreach: selectedEntityType().MetadataSets">
    <li data-bind="text: Name">
    </li>
    <li>
        <ul data-bind="foreach: Fields">
            <li>
                <div data-bind="template: {name: 'field-template'}"></div>
            </li>
            <!--
            <li data-bind="text: Name"></li>
            <li><input data-bind="value: Value" /></li>
            -->
        </ul>
    </li>
</ul>


<script type="text/html" id="field-template">
    <span data-bind="text: Name"></span>
    <input data-bind="value: Value" />
</script>

<script type="text/html" id="select-template">
    <span data-bind="text: Name"></span>
    <select data-bind="options: OptionsArray"> </select>
    <div data-bind="text: OptionsArray"></div>
</script>

 