@model Piranha.Models.LoginModel

 @{ 
     bool allowGoogleLogin = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["AllowGoogleLogin"]);
    // string googleClientId = System.Configuration.ConfigurationManager.AppSettings["GoogleClientId"];
 }
<html>
<head><title>Login</title>
    <link href="/res.ashx/areas/manager/content/img/icon.ico" rel="icon" type="image/x-icon">
    <link href="/res.ashx/areas/manager/content/img/icon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/res.ashx/areas/manager/content/css/style.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/res.ashx/areas/manager/content/js/ext/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/res.ashx/areas/manager/content/js/jquery.manager.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $(".message").click(function () { $(this).fadeOut("medium"); });

                if ($("#sysMsg").text() != "") {
                    floatBox.show("boxMessage");
                }

                $("#login").focus();
            });
    </script>
   
</head>
<body>

    <div class="container_12">
        <div class="grid_4 box login">
            <div class="title"><small>v2.2.6.1</small><h2>Login</h2></div>
            <div class="inner">
                <form action="@Href("~/CatfishAccount/Login")" method="post">
                    <input id="returnaction" name="returnaction" type="hidden" value="index" />
                    <input id="returncontroller" name="returncontroller" type="hidden" value="page" />
                    <ul class="form">
                        <li>
                            <label>Username</label>
                            <div class="input"><input id="login" name="login" type="text" /></div>
                        </li>
                        <li>
                            <label>Password</label>
                            <div class="input"><input name="password" type="password" /></div>
                        </li>
                    </ul>
                    <button type="submit" class="btn right">Login</button>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    @if (allowGoogleLogin)
    {
        <div class="grid_4 box login">
            <div id="socialLoginDiv">     
                    <h2>Login With: </h2>
                    <hr />
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    @*<a href="#" onclick="signOut();">Sign out</a>*@
               
            </div>
        </div>
    }
    </div>
    <div id="boxMessage" class="floatbox">
        <div class="bg"></div>
        <div class="box">
            <div class="title"><h2>Information</h2></div>
            <div class="inner" style="width: 360px;min-height:60px;text-align:center">
                <p id="sysMsg">@ViewBag.Message</p>
            </div>
        </div>
    </div>



 </body>

</html>


<style>
    header[role="banner"]{
        display: none;
    }
    #socialLoginDiv{
        padding:15px;
    }
</style>

<script>

 function onSignIn(googleUser) {
       var profile = googleUser.getBasicProfile();

      // var id_token = googleUser.getAuthResponse().id_token;

      var auth2 = gapi.auth2.getAuthInstance();
      if(auth2.isSignedIn)
      {
         var user = new Object();
         user.Login = profile.getEmail();
         user.Password= profile.getId();
         user.Email =  profile.getEmail();
         user.Firstname =  profile.getGivenName();
         user.Surname =  profile.getFamilyName();
         var url = "../../CatfishAccount/ExternalLogin";
         $.ajax({
               type: 'POST',
               url: url,

               data:{userModel: user},
               success: function(data){
                  window.location.href = window.location.origin;
               },
               error: function(){ alert("Encounter problems while login")}
        });
      }
}

    /* this logout script only works if the logout button on the same page with login */
  /*  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      var url = "../../CatfishAccount/Logout";
         $.ajax({
               type: 'GET',
               url: url,

               success: function(data){
                 
               window.location.href = window.location.origin;
               },
               error: function(){ alert("Encounter problems while logout")}
        });

    });
  }*/
</script>