@model Piranha.Models.LoginModel

<link href="/res.ashx/areas/manager/content/img/icon.ico" rel="icon" type="image/x-icon">
    <link href="/res.ashx/areas/manager/content/img/icon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/res.ashx/areas/manager/content/css/style.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/res.ashx/areas/manager/content/js/ext/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/res.ashx/areas/manager/content/js/jquery.manager.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".message").click(function () { $(this).fadeOut("medium"); });

                if ($("#sysMsg").text() != "") {
                    floatBox.show("boxMessage");
                }

                $("#login").focus();
            });
        </script>
  

    <div class="container_12">
        <div class="grid_4 box login">
            <div class="title"><small>v2.2.6.1</small><h2>Login</h2></div>
            <div class="inner">
                <form action="@Href("~/CatfishAccount/Login")"  method="post">
                    <input id="returnaction" name="returnaction" type="hidden" value="index" />
                    <input id="returncontroller" name="returncontroller" type="hidden" value="page" />
                    <ul class="form">
                        <li>
                            <label>Username</label>
                            <div class="input"><input id="login" name="login" type="text" /></div>
                        </li>
                        <li>
                            <label>Password</label>
                            <div class="input"><input name="password" type="password" /></div>
                        </li>
                    </ul>
                    <button type="submit" class="btn right">Login</button>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </div>


<script>
    $(".menu").hide();
</script>