@page "~/manager/collection-list"
@model Catfish.Areas.Manager.Pages.CollectionListModel
@inject Piranha.Manager.ManagerLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="entityTypelist">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Localizer.Menu["Entities"]</li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.Menu["Collections"]</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                @foreach (var action in Catfish.Areas.Manager.Actions.Toolbars.EntityTypeList)
                {
                    @*<partial name="@action.ActionView" />*@
                    <a href="/manager/schema/edit" class="btn btn-primary btn-labeled"><i class="fas fa-plus"></i>Add Schema</a>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <ol class="dd-list">
            @foreach (var child in Model.Children)
            {
                <partial name="partial/@child.GetType().Name" model="@child" />
            }
        </ol>
    </div>
</div>
