@page  "~/manager/customstyles"
@model Catfish.Pages.CustomStylesModel
@inject Piranha.Manager.ManagerLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Localizer.Menu["Content"]</li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.Menu["Custom Styles"]</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid">
        <h2>Custom Styles</h2>
        
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
        }
        <form method="post">
            @Html.EditorFor(model => model.Styles, new { htmlAttributes = new { @class = "col-md-12", style = "Width:100%,", rows = "20" } })
            <input type="submit" value="Update" class="btn btn-primary" />
        </form>
    </div>
</div>
