@page "~/manager/items/edit/{id:Guid}"
@inject Piranha.Manager.ManagerLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="item-edit-page">
    <div class="top">
	    <div class="container-fluid top">
            <div class="left-nav-container">
		        <nav aria-label="breadcrumb">
			        <ol class="breadcrumb">
				        <li class="breadcrumb-item">@Localizer.Menu["Entities"]</li>
				        <li class="breadcrumb-item">@Localizer.Menu["Items"]</li>
						<li v-if="nameAttribute" class="breadcrumb-item active" aria-current="page">{{itemName}}</li>
			        </ol>
		        </nav>
            </div>

            <div class="container-fluid collection-button-holder">
			    <div class="top-nav">
				    @foreach (var action in Catfish.Areas.Manager.Actions.Toolbars.SavePreviewEditItem)
				    {
					    <partial name="@action.ActionView" />
				    }
			    </div>
		    </div>

	    </div>
    </div>

    <form id="item-edit-form" ref="myForm" class="edit-form" novalidate>
        <div v-for="(section, index) in sections" class="container-fluid app" id="itemlist" :class="{ ready: !loading }">
            <div class="row">
                <div class="col">
                    <div class="sitemap">
                        <ol v-if="section.value">
                            <li>
                                <div class="sitemap-item">
                                    <div class="link">
                                        <span class="title">{{section.title}}</span>
                                    </div>
                                </div>
                                <div class="sitemap sitemap-container dd collapse show" data-id="{ 0 }">
                                    <!-- v-for="let set of entrySets" -->
                                    <ol class="dd-list">
                                        <li  v-for="(entry, index) in section.value" class="dd-item expanded"> <!--  Need to talk to Kamal about the Name and Description elements being given to me are not arrays -->
                                            <div class="sitemap-item">
                                                <div class="link">
                                                    <label :id="['entry-label-' + section.title + '-' + languageLabels[index]]"
                                                           class="language-label" for="input-0">
                                                        {{entry.Language}} :
                                                    </label>
                                                    <div v-if="!isInPreviewMode" class="width-100">
                                                        <input
                                                               required type="text" class="form-control"
                                                               :id="[section.title + '-input-' + index]"
                                                               aria-describedby="entry-label"
                                                               v-model="entry.Value">
                                                        <div class="invalid-feedback">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                    <div v-else>
                                                        <span>{{entry.Value}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>

                                </div>

                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid app" :class="{ ready: !loading }">
            <div class="row">
                <div class="col">
                    <div class="sitemap-item">
                        <div class="link">
                            <span class="title">{{metadataSetLabel}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid tab-holder">
            <div class="row">
                <div class="col">
                    <nav>
                        <!-- Tab label -->
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a v-for="(metadataSet, index) in metadataSets" class="nav-item nav-link"
                               :class="{show: index==0, active: index==0}"
                               :id="'meta-tab-' + index" data-toggle="tab" :href="'#tab-' + index" role="tab"
                               :aria-controls="'tab-' + index" :aria-selected="index==0 ? true : false">
                                {{metadataSet.Name}}
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content" id="metaTabContent">
                        <div v-for="(metadataSet, metaIndex) in metadataSets" :id="'tab-' + metaIndex"
                             role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade"
                             :class="{active: metaIndex==0, show: metaIndex==0}">

                            <transition-group name="refresh">
                                <div v-for="(field, fIndex) in metadataSet.Fields"
                                     class="tab-pane fade show field-section" :key="field.Id"
                                     id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <item-field-component ref="itemFieldChild" :field-data="field" :is-in-preview-mode="isInPreviewMode" :language-labels="languageLabels"></item-field-component>
                                </div>
                            </transition-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>


</div>