@page "~/manager/items"
@model Catfish.Areas.Manager.Pages.ItemListModel
@inject Piranha.Manager.ManagerLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@section script{
    <script type="text/javascript">
        piranha.pagelist.load();
    </script>
}

    <div id="entityTypelist">
        <div class="top">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">@Localizer.Menu["Entities"]</li>
                    <li class="breadcrumb-item active" aria-current="page">@Localizer.Menu["Items"]</li>
                </ol>
            </nav>

            <div class="container-fluid">
                <div class="top-nav">
                    @foreach (var action in Catfish.Areas.Manager.Actions.Toolbars.EntityTypeList)
                    {
                        <partial name="@action.ActionView" />
                    }
                </div>
            </div>
        </div>

        @foreach (var child in Model.Children)
        {
            <partial name="partial/@child.GetType().Name" model="@child" />
        }

    </div>