@model Catfish.Core.Models.Contents.Fields.InfoSection

@Html.HiddenFor(model => model.ModelType)
<div class="@Model.CssClass">
    @*@Html.DisplayFor(model => Model.Content, Model.Content.GetType().ToString())*@
    @Html.Raw(Model.Content.ConcatenatedRichText)
</div>