@model Catfish.Core.Models.Contents.Fields.CompositeField
@using Catfish.Core.Models.Contents.Data

<div class="container composite-field @Model.CssClass">
    <div class="h4 title">@Html.Raw(Model.Name.GetConcatenatedContent(" | "))</div>
    @foreach(var child in Model.Children)
    {
        <div class="row child">
            @Html.DisplayFor(model => child, child.GetType().ToString())
        </div>
    }
</div>
