@model Catfish.Core.Models.Contents.Data.DataItem;

<div class="container">
    @foreach (var field in Model.Fields)
    {
        <div class="row">
            @Html.DisplayFor(model => field, field.GetType().ToString())
        </div>

    }
</div>