@model Catfish.Core.Models.Contents.MultilingualDescription

@if (Model.Values.Count > 0)
{
    <div class="ml-description">
        @foreach (var val in Model.Values)
        {
            <div class="description-entry">
                @Html.Raw(val.Value)
            </div>
        }
    </div>
}

