@model Catfish.Core.Models.Contents.MultilingualName

@{
    var text = string.Join(" | ", Model.Values.Select(txt => txt.Value));
}
@Html.Raw(text)

@*<div class="ml-name" style="padding-right:10pt">
    @Html.Raw(text)
</div>*@