@page "~/manager/forms"

@{
    ViewBag.Title = "Forms";
    ViewBag.MenuItem = "CatfishWebExtensionsItems";
}

<div id="CatfishWebExtensions">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Templates</li>
                <li class="breadcrumb-item active" aria-current="page">Forms</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                <button class="btn btn-icon btn-info">
                    <i class="fas fa-cog"></i>
                </button>
                <button class="btn btn-labeled btn-primary">
                    <i class="fas fa-plus"></i>Forms
                </button>
@*                <button class="btn btn-labeled btn-success">
                    <i class="fas fa-check"></i>Main action
                </button>
*@            </div>
        </div>
    </div>
