@Html.Partial("Partial/Tabs")
<div class="toolbar">
    <div class="inner">
        <ul>
            <li>
                <a href="@Url.Action("index")" class="back">
                    @Piranha.Resources.Global.ToolbarBack
                </a>
            </li>
            <li>
                <a href="@Url.Action("edit", new { id = Model.Id })" class="refresh">
                    @Piranha.Resources.Global.ToolbarReload
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
