@model Catfish.Core.Models.CFAggregation
@using Catfish.Core.Models;

@{ IEnumerable<CFAggregation> parents = Model.ParentMembers.Where(p => typeof(CFCollection).IsAssignableFrom(p.GetType())); }
<div class="bs entity-content">
    <div class="box">
        <div class="title">
            Parent Collections
        </div>
        @Html.Partial("Partial/ObjectList", parents, new ViewDataDictionary() { { "title", "Parent Entities" }, { "controller", "collections" } })
    </div>
</div>
