@model Catfish.Areas.Manager.Models.ViewModels.SelectEntityTypeViewModel
@using PerpetuumSoft.Knockout


@{
    var context = "ctx_" + Guid.NewGuid().ToString("N");
    var ko = Html.CreateKnockoutContext(context);
}

<div id="@context">
    @using (ko.Html.Form("", "", null, new { id = context + "Form" }))
    {
        <div class="title">
            <h2>Select Type</h2>
        </div>
        <div class="inner">
            <div>
                @ko.Html.DropDownList(m => m.EntityTypes, new { id = "field-type-selector" }, ft => ft.Name).Value(m => m.SelectedEntityType)
                @ko.Html.Button("Next", "SelectEntity", ViewData["controller"] as string, new { }, new { id = "add-field" }).Enable(m => m.SelectedEntityType != null && m.SelectedEntityType.Name != "")
            </div>
        </div>
    }
</div>

@ko.Apply(Model, context)
