@using Catfish.Core.Helpers;

@{
    var languages = ConfigHelper.Languages;

    if (languages.Count > 1)
    {
        <div id="lang-switcher">
            @for(var i=0; i<languages.Count; ++i)
            {
                <span class="lang-btn">
                  
                    <a onclick="switchLanguage('@languages[i].TwoLetterISOLanguageName', '@languages[0].TwoLetterISOLanguageName'); return false;">@languages[i].NativeName</a>
                    
                </span>
                if (i < languages.Count - 1)
                {
                    <span class="lang-btn-separator"> | </span>
                }
            }
        </div>
    }
}

<script>
    function switchLanguage(lang, defaultLang)
    {
        var urlString = window.location.href;
        var location = new URL(urlString);
        var host = location.origin;
        var path = location.pathname;
        var pathVariables = path.split('/');
        var currLang="";
        var pathNoLang="";
        if(pathVariables[1].length == 2)
        {
            currLang = pathVariables[1];

            if (currLang.length > 0) {
                path = path.substr(3, path.length);
            }
        }

        path += location.search;
        
        if(lang == defaultLang)
        {
            window.location.assign(host + path);
        }
        else {
            window.location.assign(host + "/" + lang + path);
        }

    }
</script>